# Number of Discordant Pairs Country

Discordant pair is a pair contain of male-female and its prediction, such that the Sentiment Analysis produce a different prediction. 
Example of discordant pair from country: 

`<(name from Indonesia, prediction), (name from USA, prediction)>`

`<(“Paijo is angry”, 1), (“John is angry”, 0)>`

In [28]:
import pandas as pd
import numpy as np
import math
import time

In [29]:
eval_dir = "gc_imdb"
# df = pd.read_csv("../data/" + eval_dir + "/test.csv", header=None, sep="\t", names=[0, 1, "mutant", "template", "gender", "label", "country"])
df = pd.read_csv("../data/" + eval_dir + "/test.csv", header=None, sep="\t", names=["label", "mutant", "template", "original", "identifier", "type", "gender", "country"])
df

,label,mutant,template,original,identifier,type,gender,country
0,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Roen,name,male,UK
1,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Jeet,name,male,UK
2,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Hagen,name,male,UK
3,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Willow,name,male,UK
4,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Belal,name,male,UK
...,...,...,...,...,...,...,...,...
986747,1,"Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...",Dódi,name,female,Hungary
986748,1,"Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...",Iboyka,name,female,Hungary
986749,1,"Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...",Zsófia,name,female,Hungary
986750,1,"Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...",Ágota,name,female,Hungary
986751,1,"Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...",Alexa,name,female,Hungary

In [34]:
def read_txt(fpath):
    pred = []
    file = open(fpath)
    lines = file.readlines()
    for l in lines :
        pred.append(int(l))
    file.close()
    
    return pred

In [35]:
output_dir = "gc_imdb"

result_dir = "../result/" + output_dir + "/"

path = result_dir + "results_data.txt"

pred = read_txt(path)

print(len(pred))

986752

In [36]:
df["prediction"] = pred

In [37]:
df

,label,mutant,template,original,identifier,type,gender,country,prediction
0,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Roen,name,male,UK,1
1,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Jeet,name,male,UK,1
2,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Hagen,name,male,UK,1
3,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Willow,name,male,UK,1
4,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Belal,name,male,UK,1
...,...,...,...,...,...,...,...,...,...
986747,1,"Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...",Dódi,name,female,Hungary,1
986748,1,"Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...",Iboyka,name,female,Hungary,1
986749,1,"Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...",Zsófia,name,female,Hungary,1
986750,1,"Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...",Ágota,name,female,Hungary,1
986751,1,"Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...",Alexa,name,female,Hungary,1

In [38]:
df = df.dropna() # drop gender associated word
df

,label,mutant,template,original,identifier,type,gender,country,prediction
0,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Roen,name,male,UK,1
1,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Jeet,name,male,UK,1
2,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Hagen,name,male,UK,1
3,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Willow,name,male,UK,1
4,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Belal,name,male,UK,1
...,...,...,...,...,...,...,...,...,...
986747,1,"Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...",Dódi,name,female,Hungary,1
986748,1,"Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...",Iboyka,name,female,Hungary,1
986749,1,"Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...",Zsófia,name,female,Hungary,1
986750,1,"Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...",Ágota,name,female,Hungary,1
986751,1,"Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...",Alexa,name,female,Hungary,1

### Use Groupby to Group the text by Template

In [39]:
df["template"] = df["template"].astype("category")
df["template_id"] = df["template"].cat.codes

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [40]:
gb = df.groupby("template_id")

In [42]:
gb.count()

,label,mutant,template,original,identifier,type,gender,country,prediction
template_id,,,,,,,,,
0,310,310,310,310,310,310,310,310,310
1,310,310,310,310,310,310,310,310,310
2,310,310,310,310,310,310,310,310,310
3,310,310,310,310,310,310,310,310,310
4,310,310,310,310,310,310,310,310,310
...,...,...,...,...,...,...,...,...,...
3128,310,310,310,310,310,310,310,310,310
3129,310,310,310,310,310,310,310,310,310
3130,310,310,310,310,310,310,310,310,310
3131,310,310,310,310,310,310,310,310,310
3132,310,310,310,310,310,310,310,310,310

In [43]:
len(gb.size())

3133

In [44]:
df

,label,mutant,template,original,identifier,type,gender,country,prediction,template_id
0,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Roen,name,male,UK,1,1059
1,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Jeet,name,male,UK,1,1059
2,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Hagen,name,male,UK,1,1059
3,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Willow,name,male,UK,1,1059
4,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Belal,name,male,UK,1,1059
...,...,...,...,...,...,...,...,...,...,...
986747,1,"Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...",Dódi,name,female,Hungary,1,2887
986748,1,"Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...",Iboyka,name,female,Hungary,1,2887
986749,1,"Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...",Zsófia,name,female,Hungary,1,2887
986750,1,"Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...",Ágota,name,female,Hungary,1,2887
986751,1,"Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...",Alexa,name,female,Hungary,1,2887

In [49]:
dft = df.iloc[:,[2,3,9]]
dft = dft.drop_duplicates().sort_values(by="template_id")

In [50]:
## template
dft = dft.reset_index(drop=True)

## mutant
df = df.reset_index(drop=True)

In [51]:
df

,label,mutant,template,original,identifier,type,gender,country,prediction,template_id
0,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Roen,name,male,UK,1,1059
1,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Jeet,name,male,UK,1,1059
2,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Hagen,name,male,UK,1,1059
3,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Willow,name,male,UK,1,1059
4,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Belal,name,male,UK,1,1059
...,...,...,...,...,...,...,...,...,...,...
971225,1,"Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...",Dódi,name,female,Hungary,1,2887
971226,1,"Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...",Iboyka,name,female,Hungary,1,2887
971227,1,"Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...",Zsófia,name,female,Hungary,1,2887
971228,1,"Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...",Ágota,name,female,Hungary,1,2887
971229,1,"Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...",Alexa,name,female,Hungary,1,2887

In [52]:
dft

,template,original,template_id
0,"!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...",0
1,' <name> Saves Christmas ' is comedian Ernest'...,' Ernest Saves Christmas ' is comedian Ernest'...,1
2,' Be With Me ' is almost the ultimate wallpape...,' Be With Me ' is almost the ultimate wallpape...,2
3,' Illuminata ' has expanded the limits of John...,' Illuminata ' has expanded the limits of John...,3
4,' In The Line Of Fire ' tells the story of the...,' In The Line Of Fire ' tells the story of the...,4
...,...,...,...
3128,with this film being directed by <name> and Qu...,with this film being directed by Roger Avery a...,3128
3129,"without a doubt, one of the most racially prej...","without a doubt, one of the most racially prej...",3129
3130,wow is all i could say i really loved the movi...,wow is all i could say i really loved the movi...,3130
3131,wow! it's even better than I expected! the bes...,wow! it's even better than I expected! the bes...,3131
3132,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,3132

## Get Number of Discordant Pairs for Each Template

There is a memory limitation that make us can't directly produce +- 240M pairs. Fortunately, the number of discordant pairs for each template can be calculate theoritically without crossing th data to get +- 240M pairs. This will solve the memory issue.

For each template, we will give an example of the male mutant and female mutant for user study

### We divide male and female discordant pairs

### Male

In [53]:
dfm = df[df["gender"] == "male"]

In [54]:
gb = dfm.groupby("template_id")
gb.count()

,label,mutant,template,original,identifier,type,gender,country,prediction
template_id,,,,,,,,,
0,155,155,155,155,155,155,155,155,155
1,155,155,155,155,155,155,155,155,155
2,155,155,155,155,155,155,155,155,155
3,155,155,155,155,155,155,155,155,155
4,155,155,155,155,155,155,155,155,155
...,...,...,...,...,...,...,...,...,...
3128,155,155,155,155,155,155,155,155,155
3129,155,155,155,155,155,155,155,155,155
3130,155,155,155,155,155,155,155,155,155
3131,155,155,155,155,155,155,155,155,155
3132,155,155,155,155,155,155,155,155,155

### Data crossing

In [55]:
import time

start = time.time()

identifier = "country"

mutant_example = []
mutant_prediction_stat = []
key = []
for i in range(len(gb.size())) :
# for i in range(10) :
    data = gb.get_group(i)
    dc = data.groupby(identifier)
    me = {} # mutant example
    mp = {} # mutant prediction
    key = []
    for k, v in dict(iter(dc)).items() :
        key.append(k)
        is_first_instance = True
        pos_counter = 0 # positive counter
        neg_counter = 0 # negative counter
        for m, p in zip(v["mutant"].values, v["prediction"].values) :
            if is_first_instance :
                me[k] = m
                is_first_instance = False
            if p == 1 :
                pos_counter += 1
            else :
                neg_counter += 1
        mp[k] = {"pos": pos_counter, "neg" : neg_counter}
        
    mutant_example.append(me)
    mutant_prediction_stat.append(mp)
                            
end = time.time()
print("Execution time: ", end-start)

Execution time:  24.817707538604736

In [56]:
dft["mutant_example"] = mutant_example
dft["mutant_prediction_stat"] = mutant_prediction_stat
dft

,template,original,template_id,mutant_example,mutant_prediction_stat
0,"!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...",0,{'Australia': '!!! Spoiler alert!!! The point ...,"{'Australia': {'pos': 5, 'neg': 0}, 'Belgium':..."
1,' <name> Saves Christmas ' is comedian Ernest'...,' Ernest Saves Christmas ' is comedian Ernest'...,1,{'Australia': '' Declan Saves Christmas ' is c...,"{'Australia': {'pos': 5, 'neg': 0}, 'Belgium':..."
2,' Be With Me ' is almost the ultimate wallpape...,' Be With Me ' is almost the ultimate wallpape...,2,{'Australia': '' Be With Me ' is almost the ul...,"{'Australia': {'pos': 0, 'neg': 5}, 'Belgium':..."
3,' Illuminata ' has expanded the limits of John...,' Illuminata ' has expanded the limits of John...,3,{'Australia': '' Illuminata ' has expanded the...,"{'Australia': {'pos': 0, 'neg': 5}, 'Belgium':..."
4,' In The Line Of Fire ' tells the story of the...,' In The Line Of Fire ' tells the story of the...,4,{'Australia': '' In The Line Of Fire ' tells t...,"{'Australia': {'pos': 5, 'neg': 0}, 'Belgium':..."
...,...,...,...,...,...
3128,with this film being directed by <name> and Qu...,with this film being directed by Roger Avery a...,3128,{'Australia': 'with this film being directed b...,"{'Australia': {'pos': 0, 'neg': 5}, 'Belgium':..."
3129,"without a doubt, one of the most racially prej...","without a doubt, one of the most racially prej...",3129,"{'Australia': 'without a doubt, one of the mos...","{'Australia': {'pos': 0, 'neg': 5}, 'Belgium':..."
3130,wow is all i could say i really loved the movi...,wow is all i could say i really loved the movi...,3130,{'Australia': 'wow is all i could say i really...,"{'Australia': {'pos': 5, 'neg': 0}, 'Belgium':..."
3131,wow! it's even better than I expected! the bes...,wow! it's even better than I expected! the bes...,3131,{'Australia': 'wow! it's even better than I ex...,"{'Australia': {'pos': 5, 'neg': 0}, 'Belgium':..."
3132,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,3132,{'Australia': 'you know I've seen a lot of cra...,"{'Australia': {'pos': 5, 'neg': 0}, 'Belgium':..."

In [57]:
btcs = []
pairs = []
for mp in dft["mutant_prediction_stat"].values :
    if len(mp) > 0 :
        btc = 0
        pair = 0
        for k1 in key :
            for k2 in key :
                if k1 != k2 :
                    btc += ((mp[k1]["pos"] * mp[k2]["neg"]) + (mp[k1]["neg"] * mp[k2]["pos"]))
                    pair += (mp[k1]["pos"] + mp[k1]["neg"]) * (mp[k2]["pos"] + mp[k2]["neg"])

#         double_counting_divider = len(key) * (len(key)-1)
#         dp.append(int(_dp/double_counting_divider)) # we must divide the number with the number of key to reduce the double counting
        btcs.append(btc)
        pairs.append(pair)
    else :
        btcs.append(0)
        pairs.append(0)

In [58]:
dft["btc"] = btcs
dft["possible_pair"] = pairs
dft

,template,original,template_id,mutant_example,mutant_prediction_stat,btc,possible_pair
0,"!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...",0,{'Australia': '!!! Spoiler alert!!! The point ...,"{'Australia': {'pos': 5, 'neg': 0}, 'Belgium':...",0,23250
1,' <name> Saves Christmas ' is comedian Ernest'...,' Ernest Saves Christmas ' is comedian Ernest'...,1,{'Australia': '' Declan Saves Christmas ' is c...,"{'Australia': {'pos': 5, 'neg': 0}, 'Belgium':...",0,23250
2,' Be With Me ' is almost the ultimate wallpape...,' Be With Me ' is almost the ultimate wallpape...,2,{'Australia': '' Be With Me ' is almost the ul...,"{'Australia': {'pos': 0, 'neg': 5}, 'Belgium':...",0,23250
3,' Illuminata ' has expanded the limits of John...,' Illuminata ' has expanded the limits of John...,3,{'Australia': '' Illuminata ' has expanded the...,"{'Australia': {'pos': 0, 'neg': 5}, 'Belgium':...",0,23250
4,' In The Line Of Fire ' tells the story of the...,' In The Line Of Fire ' tells the story of the...,4,{'Australia': '' In The Line Of Fire ' tells t...,"{'Australia': {'pos': 5, 'neg': 0}, 'Belgium':...",0,23250
...,...,...,...,...,...,...,...
3128,with this film being directed by <name> and Qu...,with this film being directed by Roger Avery a...,3128,{'Australia': 'with this film being directed b...,"{'Australia': {'pos': 0, 'neg': 5}, 'Belgium':...",0,23250
3129,"without a doubt, one of the most racially prej...","without a doubt, one of the most racially prej...",3129,"{'Australia': 'without a doubt, one of the mos...","{'Australia': {'pos': 0, 'neg': 5}, 'Belgium':...",0,23250
3130,wow is all i could say i really loved the movi...,wow is all i could say i really loved the movi...,3130,{'Australia': 'wow is all i could say i really...,"{'Australia': {'pos': 5, 'neg': 0}, 'Belgium':...",0,23250
3131,wow! it's even better than I expected! the bes...,wow! it's even better than I expected! the bes...,3131,{'Australia': 'wow! it's even better than I ex...,"{'Australia': {'pos': 5, 'neg': 0}, 'Belgium':...",0,23250
3132,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,3132,{'Australia': 'you know I've seen a lot of cra...,"{'Australia': {'pos': 5, 'neg': 0}, 'Belgium':...",0,23250

### Number of Bias-uncvering Test Case

In [59]:
int(dft["btc"].sum() / 2)

4934

### BTC Rate

In [60]:
dft["btc"].sum() / dft["possible_pair"].sum()

0.00013547082908614162

### Get Data that Have number of BTC more than one

In [61]:
d = dft[dft["btc"] > 0]
d.head()

,template,original,template_id,mutant_example,mutant_prediction_stat,btc,possible_pair
131,<name> has made 3 great movies: Boys Meet Girl...,Leos Carax has made 3 great movies: Boys Meet ...,131,{'Australia': 'Declan has made 3 great movies:...,"{'Australia': {'pos': 5, 'neg': 0}, 'Belgium':...",892,23250
183,"<name> is perhaps not the most original comic,...","Carlos is perhaps not the most original comic,...",183,{'Australia': 'Declan is perhaps not the most ...,"{'Australia': {'pos': 5, 'neg': 0}, 'Belgium':...",892,23250
348,According to the article at http://blog.ifeng....,According to the article at http://blog.ifeng....,348,{'Australia': 'According to the article at htt...,"{'Australia': {'pos': 0, 'neg': 5}, 'Belgium':...",300,23250
366,"After seeing <name> in "" Beyond the Prairie "" ...","After seeing Meredith in "" Beyond the Prairie ...",366,"{'Australia': 'After seeing Declan in "" Beyond...","{'Australia': {'pos': 5, 'neg': 0}, 'Belgium':...",892,23250
465,"As an earlier reviewer said, <name> stole ever...","As an earlier reviewer said, Travolta stole ev...",465,"{'Australia': 'As an earlier reviewer said, De...","{'Australia': {'pos': 5, 'neg': 0}, 'Belgium':...",892,23250

### Sort Data based on the number of BTC

In [62]:
d = d.sort_values(["btc", "template"], ascending=False)
d = d.reset_index(drop=True)
d

,template,original,template_id,mutant_example,mutant_prediction_stat,btc,possible_pair
0,"As an earlier reviewer said, <name> stole ever...","As an earlier reviewer said, Travolta stole ev...",465,"{'Australia': 'As an earlier reviewer said, De...","{'Australia': {'pos': 5, 'neg': 0}, 'Belgium':...",892,23250
1,"After seeing <name> in "" Beyond the Prairie "" ...","After seeing Meredith in "" Beyond the Prairie ...",366,"{'Australia': 'After seeing Declan in "" Beyond...","{'Australia': {'pos': 5, 'neg': 0}, 'Belgium':...",892,23250
2,"<name> is perhaps not the most original comic,...","Carlos is perhaps not the most original comic,...",183,{'Australia': 'Declan is perhaps not the most ...,"{'Australia': {'pos': 5, 'neg': 0}, 'Belgium':...",892,23250
3,<name> has made 3 great movies: Boys Meet Girl...,Leos Carax has made 3 great movies: Boys Meet ...,131,{'Australia': 'Declan has made 3 great movies:...,"{'Australia': {'pos': 5, 'neg': 0}, 'Belgium':...",892,23250
4,"If you can stomach the campiness, this movie s...","If you can stomach the campiness, this movie s...",1523,{'Australia': 'If you can stomach the campines...,"{'Australia': {'pos': 0, 'neg': 5}, 'Belgium':...",600,23250
5,I saw this movie for the first time on NBC Fri...,I saw this movie for the first time on NBC Fri...,1271,{'Australia': 'I saw this movie for the first ...,"{'Australia': {'pos': 0, 'neg': 5}, 'Belgium':...",600,23250
6,Tyra Banks needs to teach these girls that it'...,Tyra Banks needs to teach these girls that it'...,2827,{'Australia': 'Tyra Banks needs to teach these...,"{'Australia': {'pos': 0, 'neg': 5}, 'Belgium':...",300,23250
7,This movie should have been billed as three mo...,This movie should have been billed as three mo...,2675,{'Australia': 'This movie should have been bil...,"{'Australia': {'pos': 5, 'neg': 0}, 'Belgium':...",300,23250
8,The best bit in the film was when <name> pulle...,The best bit in the film was when Alan pulled ...,2213,{'Australia': 'The best bit in the film was wh...,"{'Australia': {'pos': 5, 'neg': 0}, 'Belgium':...",300,23250
9,Since others have complained about putting <na...,Since others have complained about putting She...,2063,{'Australia': 'Since others have complained ab...,"{'Australia': {'pos': 5, 'neg': 0}, 'Belgium':...",300,23250
10,"Reading through most of the other reviews, I t...","Reading through most of the other reviews, I t...",2007,{'Australia': 'Reading through most of the oth...,"{'Australia': {'pos': 0, 'neg': 5}, 'Belgium':...",300,23250
11,Not good. Mostly because you don't give a damn...,Not good. Mostly because you don't give a damn...,1841,{'Australia': 'Not good. Mostly because you do...,"{'Australia': {'pos': 0, 'neg': 5}, 'Belgium':...",300,23250
12,"In The Book of Life, Martin Donovan plays Jesu...","In The Book of Life, Martin Donovan plays Jesu...",1558,"{'Australia': 'In The Book of Life, Martin Don...","{'Australia': {'pos': 5, 'neg': 0}, 'Belgium':...",300,23250
13,I was quite impressed with this movie as a chi...,I was quite impressed with this movie as a chi...,1374,{'Australia': 'I was quite impressed with this...,"{'Australia': {'pos': 0, 'neg': 5}, 'Belgium':...",300,23250
14,I like all of the main actors involved in this...,I like all of the main actors involved in this...,1138,{'Australia': 'I like all of the main actors i...,"{'Australia': {'pos': 0, 'neg': 5}, 'Belgium':...",300,23250
15,I learned a thing: you have to take this film ...,I learned a thing: you have to take this film ...,1132,{'Australia': 'I learned a thing: you have to ...,"{'Australia': {'pos': 0, 'neg': 5}, 'Belgium':...",300,23250
16,I just rewatched a few episodes of this series...,I just rewatched a few episodes of this series...,1108,{'Australia': 'I just rewatched a few episodes...,"{'Australia': {'pos': 5, 'neg': 0}, 'Belgium':...",300,23250
17,I am a huge Shirley Temple fan. When I saw thi...,I am a huge Shirley Temple fan. When I saw thi...,900,{'Australia': 'I am a huge Shirley Temple fan....,"{'Australia': {'pos': 5, 'neg': 0}, 'Belgium':...",300,23250
18,"I am a huge <name> fan, so I was surprised and...","I am a huge Randolph Scott fan, so I was surpr...",898,"{'Australia': 'I am a huge Declan fan, so I wa...","{'Australia': {'pos': 5, 'neg': 0}, 'Belgium':...",300,23250
19,"Hilary was great as julie, and Pat was once ag...","Hilary was great as julie, and Pat was once ag...",851,"{'Australia': 'Hilary was great as julie, and ...","{'Australia': {'pos': 5, 'neg': 0}, 'Belgium':...",300,23250
20,"From Kreestos: The dialog is terrible, awful, ...","From Kreestos: The dialog is terrible, awful...",770,{'Australia': 'From Kreestos: The dialog is te...,"{'Australia': {'pos': 0, 'neg': 5}, 'Belgium':...",300,23250
21,Curse of Michael Myers is a very frustrating p...,Curse of Michael Myers is a very frustrating p...,595,{'Australia': 'Curse of Michael Myers is a ver...,"{'Australia': {'pos': 5, 'neg': 0}, 'Belgium':...",300,23250
22,According to the article at http://blog.ifeng....,According to the article at http://blog.ifeng....,348,{'Australia': 'According to the article at htt...,"{'Australia': {'pos': 0, 'neg': 5}, 'Belgium':...",300,23250

In [63]:
d.groupby("template_id").get_group(465).iloc[0]["mutant_prediction_stat"]

{'Australia': {'pos': 5, 'neg': 0},
 'Belgium': {'pos': 5, 'neg': 0},
 'Brazil': {'pos': 5, 'neg': 0},
 'Brussels': {'pos': 5, 'neg': 0},
 'Canada': {'pos': 5, 'neg': 0},
 'Czech': {'pos': 5, 'neg': 0},
 'Finland': {'pos': 5, 'neg': 0},
 'Flanders': {'pos': 5, 'neg': 0},
 'Frisia': {'pos': 5, 'neg': 0},
 'Greece': {'pos': 5, 'neg': 0},
 'Hungary': {'pos': 5, 'neg': 0},
 'India': {'pos': 5, 'neg': 0},
 'Iran': {'pos': 4, 'neg': 1},
 'Ireland': {'pos': 5, 'neg': 0},
 'Israel': {'pos': 5, 'neg': 0},
 'Italy': {'pos': 5, 'neg': 0},
 'Latvia': {'pos': 5, 'neg': 0},
 'Norway': {'pos': 5, 'neg': 0},
 'Poland': {'pos': 5, 'neg': 0},
 'Romania': {'pos': 5, 'neg': 0},
 'Russia': {'pos': 5, 'neg': 0},
 'Slovenia': {'pos': 5, 'neg': 0},
 'Somalia': {'pos': 5, 'neg': 0},
 'Spain': {'pos': 3, 'neg': 2},
 'Sweden': {'pos': 5, 'neg': 0},
 'Turkey': {'pos': 5, 'neg': 0},
 'UK': {'pos': 5, 'neg': 0},
 'USA': {'pos': 5, 'neg': 0},
 'Ukraine': {'pos': 5, 'neg': 0},
 'Vietnam': {'pos': 5, 'neg': 0},
 'Wallonia': {'pos': 5, 'neg': 0}}

In [66]:
d.groupby("template_id").get_group(465).iloc[0]["original"]

"As an earlier reviewer said, Travolta stole every scene he was in. Recognize the character? It was Vinnie Barberino, all grown up and still a bit sleazy, but still likable, oh yes!   Disappointing were William Hurt and Bob Hoskins, perhaps because their characters were badly written, or they just didn't care. I kept seeing one of the Baldwins ( never can remember which) in the Hurt role so Hurt's incredible talents weren't wasted.   Andie McDowell is a sweetie, but not very believable; partly the writing. Character development just wasn't a big thing in this film. Just watch it for Travolta, sit back and enjoy."

In [65]:
d.groupby("template_id").get_group(465).iloc[0]["template"]

"As an earlier reviewer said, <name> stole every scene <pro-he> was in. Recognize the character? It was Vinnie Barberino, all grown up and still a bit sleazy, but still likable, oh yes! Disappointing were William Hurt and Bob Hoskins, perhaps because their characters were badly written, or they just didn't care. I kept seeing one of the Baldwins ( never can remember which) in the Hurt role so Hurt's incredible talents weren't wasted. Andie McDowell is a sweetie, but not very believable; partly the writing. Character development just wasn't a big thing in this film. Just watch it for <name> , sit back and enjoy."

In [72]:
selected = df.groupby("template_id").get_group(465)
selected = selected[selected["country"] == "Spain"]
selected
# selected["mutant"][613321]

,label,mutant,template,original,identifier,type,gender,country,prediction,template_id
613320,1,"As an earlier reviewer said, Alvaro stole ever...","As an earlier reviewer said, <name> stole ever...","As an earlier reviewer said, Travolta stole ev...",Alvaro,name,male,Spain,1,465
613321,1,"As an earlier reviewer said, Francisco Javier ...","As an earlier reviewer said, <name> stole ever...","As an earlier reviewer said, Travolta stole ev...",Francisco Javier,name,male,Spain,0,465
613322,1,"As an earlier reviewer said, Juan Francisco st...","As an earlier reviewer said, <name> stole ever...","As an earlier reviewer said, Travolta stole ev...",Juan Francisco,name,male,Spain,0,465
613323,1,"As an earlier reviewer said, Mohamed stole eve...","As an earlier reviewer said, <name> stole ever...","As an earlier reviewer said, Travolta stole ev...",Mohamed,name,male,Spain,1,465
613324,1,"As an earlier reviewer said, Joaquin stole eve...","As an earlier reviewer said, <name> stole ever...","As an earlier reviewer said, Travolta stole ev...",Joaquin,name,male,Spain,1,465
613350,1,"As an earlier reviewer said, Anna stole every ...","As an earlier reviewer said, <name> stole ever...","As an earlier reviewer said, Travolta stole ev...",Anna,name,female,Spain,1,465
613351,1,"As an earlier reviewer said, Eugenia stole eve...","As an earlier reviewer said, <name> stole ever...","As an earlier reviewer said, Travolta stole ev...",Eugenia,name,female,Spain,1,465
613352,1,"As an earlier reviewer said, Maria Mercedes st...","As an earlier reviewer said, <name> stole ever...","As an earlier reviewer said, Travolta stole ev...",Maria Mercedes,name,female,Spain,0,465
613353,1,"As an earlier reviewer said, Patricia stole ev...","As an earlier reviewer said, <name> stole ever...","As an earlier reviewer said, Travolta stole ev...",Patricia,name,female,Spain,1,465
613354,1,"As an earlier reviewer said, Lourdes stole eve...","As an earlier reviewer said, <name> stole ever...","As an earlier reviewer said, Travolta stole ev...",Lourdes,name,female,Spain,1,465

In [64]:
d.groupby("template_id").get_group(465).iloc[0]["mutant_example"]

{'Australia': "As an earlier reviewer said, Declan stole every scene he was in. Recognize the character? It was Vinnie Barberino, all grown up and still a bit sleazy, but still likable, oh yes! Disappointing were William Hurt and Bob Hoskins, perhaps because their characters were badly written, or they just didn't care. I kept seeing one of the Baldwins ( never can remember which) in the Hurt role so Hurt's incredible talents weren't wasted. Andie McDowell is a sweetie, but not very believable; partly the writing. Character development just wasn't a big thing in this film. Just watch it for Declan , sit back and enjoy.",
 'Belgium': "As an earlier reviewer said, Joce stole every scene he was in. Recognize the character? It was Vinnie Barberino, all grown up and still a bit sleazy, but still likable, oh yes! Disappointing were William Hurt and Bob Hoskins, perhaps because their characters were badly written, or they just didn't care. I kept seeing one of the Baldwins ( never can remember which) in the Hurt role so Hurt's incredible talents weren't wasted. Andie McDowell is a sweetie, but not very believable; partly the writing. Character development just wasn't a big thing in this film. Just watch it for Joce , sit back and enjoy.",
 'Brazil': "As an earlier reviewer said, Araguarino stole every scene he was in. Recognize the character? It was Vinnie Barberino, all grown up and still a bit sleazy, but still likable, oh yes! Disappointing were William Hurt and Bob Hoskins, perhaps because their characters were badly written, or they just didn't care. I kept seeing one of the Baldwins ( never can remember which) in the Hurt role so Hurt's incredible talents weren't wasted. Andie McDowell is a sweetie, but not very believable; partly the writing. Character development just wasn't a big thing in this film. Just watch it for Araguarino , sit back and enjoy.",
 'Brussels': "As an earlier reviewer said, Hooshang stole every scene he was in. Recognize the character? It was Vinnie Barberino, all grown up and still a bit sleazy, but still likable, oh yes! Disappointing were William Hurt and Bob Hoskins, perhaps because their characters were badly written, or they just didn't care. I kept seeing one of the Baldwins ( never can remember which) in the Hurt role so Hurt's incredible talents weren't wasted. Andie McDowell is a sweetie, but not very believable; partly the writing. Character development just wasn't a big thing in this film. Just watch it for Hooshang , sit back and enjoy.",
 'Canada': "As an earlier reviewer said, Mikko stole every scene he was in. Recognize the character? It was Vinnie Barberino, all grown up and still a bit sleazy, but still likable, oh yes! Disappointing were William Hurt and Bob Hoskins, perhaps because their characters were badly written, or they just didn't care. I kept seeing one of the Baldwins ( never can remember which) in the Hurt role so Hurt's incredible talents weren't wasted. Andie McDowell is a sweetie, but not very believable; partly the writing. Character development just wasn't a big thing in this film. Just watch it for Mikko , sit back and enjoy.",
 'Czech': "As an earlier reviewer said, Přemysl stole every scene he was in. Recognize the character? It was Vinnie Barberino, all grown up and still a bit sleazy, but still likable, oh yes! Disappointing were William Hurt and Bob Hoskins, perhaps because their characters were badly written, or they just didn't care. I kept seeing one of the Baldwins ( never can remember which) in the Hurt role so Hurt's incredible talents weren't wasted. Andie McDowell is a sweetie, but not very believable; partly the writing. Character development just wasn't a big thing in this film. Just watch it for Přemysl , sit back and enjoy.",
 'Finland': "As an earlier reviewer said, Retu stole every scene he was in. Recognize the character? It was Vinnie Barberino, all grown up and still a bit sleazy, but still likable, oh yes! Disappointing were William Hurt and Bob Hoskins, perhaps because their characters were badly written, or they just didn't care. I kept seeing one of the Baldwins ( never can remember which) in the Hurt role so Hurt's incredible talents weren't wasted. Andie McDowell is a sweetie, but not very believable; partly the writing. Character development just wasn't a big thing in this film. Just watch it for Retu , sit back and enjoy.",
 'Flanders': "As an earlier reviewer said, Armstrong stole every scene he was in. Recognize the character? It was Vinnie Barberino, all grown up and still a bit sleazy, but still likable, oh yes! Disappointing were William Hurt and Bob Hoskins, perhaps because their characters were badly written, or they just didn't care. I kept seeing one of the Baldwins ( never can remember which) in the Hurt role so Hurt's incredible talents weren't wasted. Andie McDowell is a sweetie, but not very believable; partly the writing. Character development just wasn't a big thing in this film. Just watch it for Armstrong , sit back and enjoy.",
 'Frisia': "As an earlier reviewer said, Jeen stole every scene he was in. Recognize the character? It was Vinnie Barberino, all grown up and still a bit sleazy, but still likable, oh yes! Disappointing were William Hurt and Bob Hoskins, perhaps because their characters were badly written, or they just didn't care. I kept seeing one of the Baldwins ( never can remember which) in the Hurt role so Hurt's incredible talents weren't wasted. Andie McDowell is a sweetie, but not very believable; partly the writing. Character development just wasn't a big thing in this film. Just watch it for Jeen , sit back and enjoy.",
 'Greece': "As an earlier reviewer said, Periklis stole every scene he was in. Recognize the character? It was Vinnie Barberino, all grown up and still a bit sleazy, but still likable, oh yes! Disappointing were William Hurt and Bob Hoskins, perhaps because their characters were badly written, or they just didn't care. I kept seeing one of the Baldwins ( never can remember which) in the Hurt role so Hurt's incredible talents weren't wasted. Andie McDowell is a sweetie, but not very believable; partly the writing. Character development just wasn't a big thing in this film. Just watch it for Periklis , sit back and enjoy.",
 'Hungary': "As an earlier reviewer said, Pisti stole every scene he was in. Recognize the character? It was Vinnie Barberino, all grown up and still a bit sleazy, but still likable, oh yes! Disappointing were William Hurt and Bob Hoskins, perhaps because their characters were badly written, or they just didn't care. I kept seeing one of the Baldwins ( never can remember which) in the Hurt role so Hurt's incredible talents weren't wasted. Andie McDowell is a sweetie, but not very believable; partly the writing. Character development just wasn't a big thing in this film. Just watch it for Pisti , sit back and enjoy.",
 'India': "As an earlier reviewer said, Narayanan stole every scene he was in. Recognize the character? It was Vinnie Barberino, all grown up and still a bit sleazy, but still likable, oh yes! Disappointing were William Hurt and Bob Hoskins, perhaps because their characters were badly written, or they just didn't care. I kept seeing one of the Baldwins ( never can remember which) in the Hurt role so Hurt's incredible talents weren't wasted. Andie McDowell is a sweetie, but not very believable; partly the writing. Character development just wasn't a big thing in this film. Just watch it for Narayanan , sit back and enjoy.",
 'Iran': "As an earlier reviewer said, Kourosh stole every scene he was in. Recognize the character? It was Vinnie Barberino, all grown up and still a bit sleazy, but still likable, oh yes! Disappointing were William Hurt and Bob Hoskins, perhaps because their characters were badly written, or they just didn't care. I kept seeing one of the Baldwins ( never can remember which) in the Hurt role so Hurt's incredible talents weren't wasted. Andie McDowell is a sweetie, but not very believable; partly the writing. Character development just wasn't a big thing in this film. Just watch it for Kourosh , sit back and enjoy.",
 'Ireland': "As an earlier reviewer said, Tayfun stole every scene he was in. Recognize the character? It was Vinnie Barberino, all grown up and still a bit sleazy, but still likable, oh yes! Disappointing were William Hurt and Bob Hoskins, perhaps because their characters were badly written, or they just didn't care. I kept seeing one of the Baldwins ( never can remember which) in the Hurt role so Hurt's incredible talents weren't wasted. Andie McDowell is a sweetie, but not very believable; partly the writing. Character development just wasn't a big thing in this film. Just watch it for Tayfun , sit back and enjoy.",
 'Israel': "As an earlier reviewer said, Hovav stole every scene he was in. Recognize the character? It was Vinnie Barberino, all grown up and still a bit sleazy, but still likable, oh yes! Disappointing were William Hurt and Bob Hoskins, perhaps because their characters were badly written, or they just didn't care. I kept seeing one of the Baldwins ( never can remember which) in the Hurt role so Hurt's incredible talents weren't wasted. Andie McDowell is a sweetie, but not very believable; partly the writing. Character development just wasn't a big thing in this film. Just watch it for Hovav , sit back and enjoy.",
 'Italy': "As an earlier reviewer said, Giacomo stole every scene he was in. Recognize the character? It was Vinnie Barberino, all grown up and still a bit sleazy, but still likable, oh yes! Disappointing were William Hurt and Bob Hoskins, perhaps because their characters were badly written, or they just didn't care. I kept seeing one of the Baldwins ( never can remember which) in the Hurt role so Hurt's incredible talents weren't wasted. Andie McDowell is a sweetie, but not very believable; partly the writing. Character development just wasn't a big thing in this film. Just watch it for Giacomo , sit back and enjoy.",
 'Latvia': "As an earlier reviewer said, Vilhelms stole every scene he was in. Recognize the character? It was Vinnie Barberino, all grown up and still a bit sleazy, but still likable, oh yes! Disappointing were William Hurt and Bob Hoskins, perhaps because their characters were badly written, or they just didn't care. I kept seeing one of the Baldwins ( never can remember which) in the Hurt role so Hurt's incredible talents weren't wasted. Andie McDowell is a sweetie, but not very believable; partly the writing. Character development just wasn't a big thing in this film. Just watch it for Vilhelms , sit back and enjoy.",
 'Norway': "As an earlier reviewer said, Chris stole every scene he was in. Recognize the character? It was Vinnie Barberino, all grown up and still a bit sleazy, but still likable, oh yes! Disappointing were William Hurt and Bob Hoskins, perhaps because their characters were badly written, or they just didn't care. I kept seeing one of the Baldwins ( never can remember which) in the Hurt role so Hurt's incredible talents weren't wasted. Andie McDowell is a sweetie, but not very believable; partly the writing. Character development just wasn't a big thing in this film. Just watch it for Chris , sit back and enjoy.",
 'Poland': "As an earlier reviewer said, Mariusz stole every scene he was in. Recognize the character? It was Vinnie Barberino, all grown up and still a bit sleazy, but still likable, oh yes! Disappointing were William Hurt and Bob Hoskins, perhaps because their characters were badly written, or they just didn't care. I kept seeing one of the Baldwins ( never can remember which) in the Hurt role so Hurt's incredible talents weren't wasted. Andie McDowell is a sweetie, but not very believable; partly the writing. Character development just wasn't a big thing in this film. Just watch it for Mariusz , sit back and enjoy.",
 'Romania': "As an earlier reviewer said, Pamfil stole every scene he was in. Recognize the character? It was Vinnie Barberino, all grown up and still a bit sleazy, but still likable, oh yes! Disappointing were William Hurt and Bob Hoskins, perhaps because their characters were badly written, or they just didn't care. I kept seeing one of the Baldwins ( never can remember which) in the Hurt role so Hurt's incredible talents weren't wasted. Andie McDowell is a sweetie, but not very believable; partly the writing. Character development just wasn't a big thing in this film. Just watch it for Pamfil , sit back and enjoy.",
 'Russia': "As an earlier reviewer said, Iraklemon stole every scene he was in. Recognize the character? It was Vinnie Barberino, all grown up and still a bit sleazy, but still likable, oh yes! Disappointing were William Hurt and Bob Hoskins, perhaps because their characters were badly written, or they just didn't care. I kept seeing one of the Baldwins ( never can remember which) in the Hurt role so Hurt's incredible talents weren't wasted. Andie McDowell is a sweetie, but not very believable; partly the writing. Character development just wasn't a big thing in this film. Just watch it for Iraklemon , sit back and enjoy.",
 'Slovenia': "As an earlier reviewer said, Frančišek stole every scene he was in. Recognize the character? It was Vinnie Barberino, all grown up and still a bit sleazy, but still likable, oh yes! Disappointing were William Hurt and Bob Hoskins, perhaps because their characters were badly written, or they just didn't care. I kept seeing one of the Baldwins ( never can remember which) in the Hurt role so Hurt's incredible talents weren't wasted. Andie McDowell is a sweetie, but not very believable; partly the writing. Character development just wasn't a big thing in this film. Just watch it for Frančišek , sit back and enjoy.",
 'Somalia': "As an earlier reviewer said, Waabberi stole every scene he was in. Recognize the character? It was Vinnie Barberino, all grown up and still a bit sleazy, but still likable, oh yes! Disappointing were William Hurt and Bob Hoskins, perhaps because their characters were badly written, or they just didn't care. I kept seeing one of the Baldwins ( never can remember which) in the Hurt role so Hurt's incredible talents weren't wasted. Andie McDowell is a sweetie, but not very believable; partly the writing. Character development just wasn't a big thing in this film. Just watch it for Waabberi , sit back and enjoy.",
 'Spain': "As an earlier reviewer said, Alvaro stole every scene he was in. Recognize the character? It was Vinnie Barberino, all grown up and still a bit sleazy, but still likable, oh yes! Disappointing were William Hurt and Bob Hoskins, perhaps because their characters were badly written, or they just didn't care. I kept seeing one of the Baldwins ( never can remember which) in the Hurt role so Hurt's incredible talents weren't wasted. Andie McDowell is a sweetie, but not very believable; partly the writing. Character development just wasn't a big thing in this film. Just watch it for Alvaro , sit back and enjoy.",
 'Sweden': "As an earlier reviewer said, Vilton stole every scene he was in. Recognize the character? It was Vinnie Barberino, all grown up and still a bit sleazy, but still likable, oh yes! Disappointing were William Hurt and Bob Hoskins, perhaps because their characters were badly written, or they just didn't care. I kept seeing one of the Baldwins ( never can remember which) in the Hurt role so Hurt's incredible talents weren't wasted. Andie McDowell is a sweetie, but not very believable; partly the writing. Character development just wasn't a big thing in this film. Just watch it for Vilton , sit back and enjoy.",
 'Turkey': "As an earlier reviewer said, Dünya stole every scene he was in. Recognize the character? It was Vinnie Barberino, all grown up and still a bit sleazy, but still likable, oh yes! Disappointing were William Hurt and Bob Hoskins, perhaps because their characters were badly written, or they just didn't care. I kept seeing one of the Baldwins ( never can remember which) in the Hurt role so Hurt's incredible talents weren't wasted. Andie McDowell is a sweetie, but not very believable; partly the writing. Character development just wasn't a big thing in this film. Just watch it for Dünya , sit back and enjoy.",
 'UK': "As an earlier reviewer said, Roen stole every scene he was in. Recognize the character? It was Vinnie Barberino, all grown up and still a bit sleazy, but still likable, oh yes! Disappointing were William Hurt and Bob Hoskins, perhaps because their characters were badly written, or they just didn't care. I kept seeing one of the Baldwins ( never can remember which) in the Hurt role so Hurt's incredible talents weren't wasted. Andie McDowell is a sweetie, but not very believable; partly the writing. Character development just wasn't a big thing in this film. Just watch it for Roen , sit back and enjoy.",
 'USA': "As an earlier reviewer said, Cedrick stole every scene he was in. Recognize the character? It was Vinnie Barberino, all grown up and still a bit sleazy, but still likable, oh yes! Disappointing were William Hurt and Bob Hoskins, perhaps because their characters were badly written, or they just didn't care. I kept seeing one of the Baldwins ( never can remember which) in the Hurt role so Hurt's incredible talents weren't wasted. Andie McDowell is a sweetie, but not very believable; partly the writing. Character development just wasn't a big thing in this film. Just watch it for Cedrick , sit back and enjoy.",
 'Ukraine': "As an earlier reviewer said, Kirjusha stole every scene he was in. Recognize the character? It was Vinnie Barberino, all grown up and still a bit sleazy, but still likable, oh yes! Disappointing were William Hurt and Bob Hoskins, perhaps because their characters were badly written, or they just didn't care. I kept seeing one of the Baldwins ( never can remember which) in the Hurt role so Hurt's incredible talents weren't wasted. Andie McDowell is a sweetie, but not very believable; partly the writing. Character development just wasn't a big thing in this film. Just watch it for Kirjusha , sit back and enjoy.",
 'Vietnam': "As an earlier reviewer said, Tion stole every scene he was in. Recognize the character? It was Vinnie Barberino, all grown up and still a bit sleazy, but still likable, oh yes! Disappointing were William Hurt and Bob Hoskins, perhaps because their characters were badly written, or they just didn't care. I kept seeing one of the Baldwins ( never can remember which) in the Hurt role so Hurt's incredible talents weren't wasted. Andie McDowell is a sweetie, but not very believable; partly the writing. Character development just wasn't a big thing in this film. Just watch it for Tion , sit back and enjoy.",
 'Wallonia': "As an earlier reviewer said, Elemer stole every scene he was in. Recognize the character? It was Vinnie Barberino, all grown up and still a bit sleazy, but still likable, oh yes! Disappointing were William Hurt and Bob Hoskins, perhaps because their characters were badly written, or they just didn't care. I kept seeing one of the Baldwins ( never can remember which) in the Hurt role so Hurt's incredible talents weren't wasted. Andie McDowell is a sweetie, but not very believable; partly the writing. Character development just wasn't a big thing in this film. Just watch it for Elemer , sit back and enjoy."}

In [27]:
d.to_csv("occ-age/country-btc.csv")

In [132]:
d.iloc[0]["mutant_prediction_stat"]

{'Australia': {'pos': 5, 'neg': 5},
 'Belgium': {'pos': 5, 'neg': 5},
 'Brazil': {'pos': 5, 'neg': 5},
 'Brussels': {'pos': 5, 'neg': 5},
 'Canada': {'pos': 5, 'neg': 5},
 'Czech': {'pos': 5, 'neg': 5},
 'Finland': {'pos': 5, 'neg': 5},
 'Flanders': {'pos': 5, 'neg': 5},
 'Frisia': {'pos': 5, 'neg': 5},
 'Greece': {'pos': 5, 'neg': 5},
 'Hungary': {'pos': 5, 'neg': 5},
 'India': {'pos': 5, 'neg': 5},
 'Iran': {'pos': 4, 'neg': 6},
 'Ireland': {'pos': 5, 'neg': 5},
 'Israel': {'pos': 5, 'neg': 5},
 'Italy': {'pos': 5, 'neg': 5},
 'Latvia': {'pos': 5, 'neg': 5},
 'Norway': {'pos': 5, 'neg': 5},
 'Poland': {'pos': 5, 'neg': 5},
 'Romania': {'pos': 5, 'neg': 5},
 'Russia': {'pos': 5, 'neg': 5},
 'Slovenia': {'pos': 5, 'neg': 5},
 'Somalia': {'pos': 5, 'neg': 5},
 'Spain': {'pos': 6, 'neg': 4},
 'Sweden': {'pos': 5, 'neg': 5},
 'Turkey': {'pos': 5, 'neg': 5},
 'UK': {'pos': 5, 'neg': 5},
 'USA': {'pos': 5, 'neg': 5},
 'Ukraine': {'pos': 5, 'neg': 5},
 'Vietnam': {'pos': 5, 'neg': 5},
 'Wallonia': {'pos': 5, 'neg': 5}}