# Number of Discordant Pairs Country

Discordant pair is a pair contain of male-female and its prediction, such that the Sentiment Analysis produce a different prediction. 
Example of discordant pair from country: 

`<(name from Indonesia, prediction), (name from USA, prediction)>`

`<(“Paijo is angry”, 1), (“John is angry”, 0)>`

In [50]:
import pandas as pd
import numpy as np
import math
import time

In [51]:
file_name = "occ"
df = pd.read_csv("occ-age/prepared/" + file_name + ".csv")
df["label"] = df["0"]
df = df.iloc[:,2:]
df

,mutant,template,original,occupation,label
0,"b "" THE PLOT: A trucker (Kristofferson) battle...","b "" THE PLOT: A trucker (Kristofferson) battle...","b "" THE PLOT: A trucker ( Kristofferson) battl...",attendant,0
1,"b "" THE PLOT: A trucker (Kristofferson) battle...","b "" THE PLOT: A trucker (Kristofferson) battle...","b "" THE PLOT: A trucker ( Kristofferson) battl...",cashier,0
2,"b "" THE PLOT: A trucker (Kristofferson) battle...","b "" THE PLOT: A trucker (Kristofferson) battle...","b "" THE PLOT: A trucker ( Kristofferson) battl...",teacher,0
3,"b "" THE PLOT: A trucker (Kristofferson) battle...","b "" THE PLOT: A trucker (Kristofferson) battle...","b "" THE PLOT: A trucker ( Kristofferson) battl...",nurse,0
4,"b "" THE PLOT: A trucker (Kristofferson) battle...","b "" THE PLOT: A trucker (Kristofferson) battle...","b "" THE PLOT: A trucker ( Kristofferson) battl...",assistant,0
...,...,...,...,...,...
704596,"b ' I watched "" Fuckland "" a long time ago. I ...","b ' I watched "" Fuckland "" a long time ago. I ...","b ' I watched "" Fuckland "" a long time ago. I ...",nutritionist,0
704597,"b ' I watched "" Fuckland "" a long time ago. I ...","b ' I watched "" Fuckland "" a long time ago. I ...","b ' I watched "" Fuckland "" a long time ago. I ...",photographer,0
704598,"b ' I watched "" Fuckland "" a long time ago. I ...","b ' I watched "" Fuckland "" a long time ago. I ...","b ' I watched "" Fuckland "" a long time ago. I ...",police officer,0
704599,"b ' I watched "" Fuckland "" a long time ago. I ...","b ' I watched "" Fuckland "" a long time ago. I ...","b ' I watched "" Fuckland "" a long time ago. I ...",singer,0
704600,"b ' I watched "" Fuckland "" a long time ago. I ...","b ' I watched "" Fuckland "" a long time ago. I ...","b ' I watched "" Fuckland "" a long time ago. I ...",undertaker,0

In [52]:
def read_txt(fpath):
    pred = []
    file = open(fpath)
    lines = file.readlines()
    for l in lines :
        pred.append(int(l))
    file.close()
    
    return pred

In [53]:
output_dir = "occupation"

result_dir = "../result/" + output_dir + "/"

path = result_dir + "results_data.txt"

pred = read_txt(path)

print(len(pred))

704601

In [54]:
df["prediction"] = pred
df

,mutant,template,original,occupation,label,prediction
0,"b "" THE PLOT: A trucker (Kristofferson) battle...","b "" THE PLOT: A trucker (Kristofferson) battle...","b "" THE PLOT: A trucker ( Kristofferson) battl...",attendant,0,0
1,"b "" THE PLOT: A trucker (Kristofferson) battle...","b "" THE PLOT: A trucker (Kristofferson) battle...","b "" THE PLOT: A trucker ( Kristofferson) battl...",cashier,0,0
2,"b "" THE PLOT: A trucker (Kristofferson) battle...","b "" THE PLOT: A trucker (Kristofferson) battle...","b "" THE PLOT: A trucker ( Kristofferson) battl...",teacher,0,0
3,"b "" THE PLOT: A trucker (Kristofferson) battle...","b "" THE PLOT: A trucker (Kristofferson) battle...","b "" THE PLOT: A trucker ( Kristofferson) battl...",nurse,0,0
4,"b "" THE PLOT: A trucker (Kristofferson) battle...","b "" THE PLOT: A trucker (Kristofferson) battle...","b "" THE PLOT: A trucker ( Kristofferson) battl...",assistant,0,0
...,...,...,...,...,...,...
704596,"b ' I watched "" Fuckland "" a long time ago. I ...","b ' I watched "" Fuckland "" a long time ago. I ...","b ' I watched "" Fuckland "" a long time ago. I ...",nutritionist,0,0
704597,"b ' I watched "" Fuckland "" a long time ago. I ...","b ' I watched "" Fuckland "" a long time ago. I ...","b ' I watched "" Fuckland "" a long time ago. I ...",photographer,0,0
704598,"b ' I watched "" Fuckland "" a long time ago. I ...","b ' I watched "" Fuckland "" a long time ago. I ...","b ' I watched "" Fuckland "" a long time ago. I ...",police officer,0,0
704599,"b ' I watched "" Fuckland "" a long time ago. I ...","b ' I watched "" Fuckland "" a long time ago. I ...","b ' I watched "" Fuckland "" a long time ago. I ...",singer,0,0
704600,"b ' I watched "" Fuckland "" a long time ago. I ...","b ' I watched "" Fuckland "" a long time ago. I ...","b ' I watched "" Fuckland "" a long time ago. I ...",undertaker,0,0

### Use Groupby to Group the text by Template

In [55]:
df["original"] = df["original"].astype("category")
df["template_id"] = df["original"].cat.codes

In [56]:
gb = df.groupby("template_id")

In [57]:
gb.count()

             mutant  template  original  occupation  label  prediction
template_id
0                79        79        79          79     79          79
1                79        79        79          79     79          79
2                79        79        79          79     79          79
3                79        79        79          79     79          79
4                79        79        79          79     79          79
...             ...       ...       ...         ...    ...         ...
8862             79        79        79          79     79          79
8863             79        79        79          79     79          79
8864             79        79        79          79     79          79
8865             79        79        79          79     79          79
8866             79        79        79          79     79          79

[8867 rows x 6 columns]

In [58]:
len(gb.size())

8867

#### Create Discordant Pairs based on Country -> not possible, memory limitation

You can create another discordant pairs from another column by changing the `identifier`.

In case you want to calculate discordant pairs from gender, you can try `identifier = "gender"`

In [59]:
start = time.time()

identifier = "occupation"

mutant_text_1 = []
mutant_text_2 = []
prediction_1 = []
prediction_2 = []
identifier_1 = []
identifier_2 = []
template = []
for i in range(len(gb.size())) :
    data = gb.get_group(i)
    dc = data.groupby(identifier)
    for k1, v1 in dict(iter(dc)).items() :
        for k2, v2 in dict(iter(dc)).items() :
            if k1 != k2 :
                for m_1, p_1, i_1, t in zip(v1["mutant"].values, v1["prediction"].values, v1[identifier].values, v1["template"].values) :
                    for m_2, p_2, i_2 in zip(v2["mutant"].values, v2["prediction"].values, v2[identifier].values) :
                        mutant_text_1.append(m_1)
                        prediction_1.append(p_1)
                        identifier_1.append(i_1)
                        mutant_text_2.append(m_2)
                        prediction_2.append(p_2)
                        identifier_2.append(i_2)
                        template.append(t)

end = time.time()
print("Execution time: ", end-start)

KeyboardInterrupt:

In [ ]:
dfcross = pd.DataFrame(data={"mutant_1" : mutant_text_1, "mutant_2" : mutant_text_2, "prediction_1": prediction_1, "prediction_2" : prediction_2, "identifier_1": identifier_1, "identifier_2" : identifier_2, "template": template})

dfcross

In [ ]:
dfcross["discordant"] = dfcross["prediction_1"] != dfcross["prediction_2"]
dfcross

### Number of Bias-uncovering Test Case

We divide by 2, because we assume that pair (A,B) is the same with pair (B,A)

In [137]:
print("Number of Discordant Pairs: ", int(len(dfcross[dfcross["discordant"] == True])/2))

Number of Discordant Pairs:  31

In [115]:
print("Discordant Pairs Rate: ", len(dfcross[dfcross["discordant"] == True]) / len(df) )

Discordant Pairs Rate:  0.0016795795633093135

In [117]:
d = dfcross[dfcross["discordant"] == True]
d = d.drop(columns=["discordant"])

In [118]:
for id, rows in d.iloc[100:101].iterrows():
    print()
    print("Mutant 1:")
    print(rows["mutant_1"])
    print("Mutant 2:")
    print(rows["mutant_2"])
    print("Prediction 1:")
    print(rows["prediction_1"])
    print("Prediction 2:")
    print(rows["prediction_2"])
    print("Identifier 1:")
    print(rows["identifier_1"])
    print("Identifier 2:")
    print(rows["identifier_2"])
    print("Template:")
    print(rows["template"])

## Get Number of Discordant Pairs for Each Template by Estimation

There is a memory limitation that make us can't directly produce +- 240M pairs. Fortunately, the number of discordant pairs for each template can be calculate theoritically without crossing th data to get +- 240M pairs. This will solve the memory issue.

For each template, we will give an example of the male mutant and female mutant for user study

In [61]:
df

,mutant,template,original,occupation,label,prediction,template_id
0,"b "" THE PLOT: A trucker (Kristofferson) battle...","b "" THE PLOT: A trucker (Kristofferson) battle...","b "" THE PLOT: A trucker ( Kristofferson) battl...",attendant,0,0,2374
1,"b "" THE PLOT: A trucker (Kristofferson) battle...","b "" THE PLOT: A trucker (Kristofferson) battle...","b "" THE PLOT: A trucker ( Kristofferson) battl...",cashier,0,0,2374
2,"b "" THE PLOT: A trucker (Kristofferson) battle...","b "" THE PLOT: A trucker (Kristofferson) battle...","b "" THE PLOT: A trucker ( Kristofferson) battl...",teacher,0,0,2374
3,"b "" THE PLOT: A trucker (Kristofferson) battle...","b "" THE PLOT: A trucker (Kristofferson) battle...","b "" THE PLOT: A trucker ( Kristofferson) battl...",nurse,0,0,2374
4,"b "" THE PLOT: A trucker (Kristofferson) battle...","b "" THE PLOT: A trucker (Kristofferson) battle...","b "" THE PLOT: A trucker ( Kristofferson) battl...",assistant,0,0,2374
...,...,...,...,...,...,...,...
704596,"b ' I watched "" Fuckland "" a long time ago. I ...","b ' I watched "" Fuckland "" a long time ago. I ...","b ' I watched "" Fuckland "" a long time ago. I ...",nutritionist,0,0,5567
704597,"b ' I watched "" Fuckland "" a long time ago. I ...","b ' I watched "" Fuckland "" a long time ago. I ...","b ' I watched "" Fuckland "" a long time ago. I ...",photographer,0,0,5567
704598,"b ' I watched "" Fuckland "" a long time ago. I ...","b ' I watched "" Fuckland "" a long time ago. I ...","b ' I watched "" Fuckland "" a long time ago. I ...",police officer,0,0,5567
704599,"b ' I watched "" Fuckland "" a long time ago. I ...","b ' I watched "" Fuckland "" a long time ago. I ...","b ' I watched "" Fuckland "" a long time ago. I ...",singer,0,0,5567
704600,"b ' I watched "" Fuckland "" a long time ago. I ...","b ' I watched "" Fuckland "" a long time ago. I ...","b ' I watched "" Fuckland "" a long time ago. I ...",undertaker,0,0,5567

In [63]:
dft = df.iloc[:,[1,2,6]]
dft

,template,original,template_id
0,"b "" THE PLOT: A trucker (Kristofferson) battle...","b "" THE PLOT: A trucker ( Kristofferson) battl...",2374
1,"b "" THE PLOT: A trucker (Kristofferson) battle...","b "" THE PLOT: A trucker ( Kristofferson) battl...",2374
2,"b "" THE PLOT: A trucker (Kristofferson) battle...","b "" THE PLOT: A trucker ( Kristofferson) battl...",2374
3,"b "" THE PLOT: A trucker (Kristofferson) battle...","b "" THE PLOT: A trucker ( Kristofferson) battl...",2374
4,"b "" THE PLOT: A trucker (Kristofferson) battle...","b "" THE PLOT: A trucker ( Kristofferson) battl...",2374
...,...,...,...
704596,"b ' I watched "" Fuckland "" a long time ago. I ...","b ' I watched "" Fuckland "" a long time ago. I ...",5567
704597,"b ' I watched "" Fuckland "" a long time ago. I ...","b ' I watched "" Fuckland "" a long time ago. I ...",5567
704598,"b ' I watched "" Fuckland "" a long time ago. I ...","b ' I watched "" Fuckland "" a long time ago. I ...",5567
704599,"b ' I watched "" Fuckland "" a long time ago. I ...","b ' I watched "" Fuckland "" a long time ago. I ...",5567
704600,"b ' I watched "" Fuckland "" a long time ago. I ...","b ' I watched "" Fuckland "" a long time ago. I ...",5567

In [64]:
dft = dft.drop_duplicates()
dft = dft.sort_values(by=["template_id"]).reset_index(drop=True)
dft

,template,original,template_id
0,"b "" ' A New Generation ' is the third Amityvil...","b "" ' A New Generation ' is the third Amityvil...",0
1,"b "" ' Anne Christie ' was Garbo's 14th film an...","b "" ' Anne Christie ' was Garbo's 14th film an...",1
2,"b "" ' Apocalypse Now Redux ', Francis Ford Cop...","b "" ' Apocalypse Now Redux ', Francis Ford Cop...",2
3,"b "" ' Captain Corelli's Mandolin ' is a fantas...","b "" ' Captain Corelli's Mandolin ' is a fantas...",3
4,"b "" ' Doppleganger ', (or ' Journey To The Far...","b "" ' Doppleganger ', ( or ' Journey To The Fa...",4
...,...,...,...
8862,b '***** SPOILERS********* This movie was trul...,b '***** SPOILERS********* This movie was trul...,8862
8863,b '********** POSSIBLE SPOILER********** Madon...,b '********** POSSIBLE SPOILER********** Madon...,8863
8864,"b '************* SPOILERS BELOW************* ""...","b '************* SPOILERS BELOW************* ""...",8864
8865,b '. but unfortunately no one thought about ha...,b '. but unfortunately no one thought about ha...,8865
8866,b '. this movie has been done when Hitler (and...,b '. this movie has been done when Hitler ( an...,8866

### Data crossing

In [65]:
import time

start = time.time()

identifier = "occupation"

mutant_example = []
mutant_prediction_stat = []
key = []
for i in range(len(gb.size())) :
# for i in range(10) :
    data = gb.get_group(i)
    dc = data.groupby(identifier)
    me = {} # mutant example
    mp = {} # mutant prediction
    key = []
    for k, v in dict(iter(dc)).items() :
        key.append(k)
        is_first_instance = True
        pos_counter = 0 # positive counter
        neg_counter = 0 # negative counter
        for m, p in zip(v["mutant"].values, v["prediction"].values) :
            if is_first_instance :
                me[k] = m
                is_first_instance = False
            if p == 1 :
                pos_counter += 1
            else :
                neg_counter += 1
        mp[k] = {"pos": pos_counter, "neg" : neg_counter}
        
    mutant_example.append(me)
    mutant_prediction_stat.append(mp)
                            
end = time.time()
print("Execution time: ", end-start)

Execution time:  227.0663344860077

In [66]:
len(mutant_example)

8867

In [67]:
dft["mutant_example"] = mutant_example
dft["mutant_prediction_stat"] = mutant_prediction_stat
dft

,template,original,template_id,mutant_example,mutant_prediction_stat
0,"b "" ' A New Generation ' is the third Amityvil...","b "" ' A New Generation ' is the third Amityvil...",0,"{'CEO': 'b "" ' A New Generation ' is the third...","{'CEO': {'pos': 0, 'neg': 1}, 'accountant': {'..."
1,"b "" ' Anne Christie ' was Garbo's 14th film an...","b "" ' Anne Christie ' was Garbo's 14th film an...",1,"{'CEO': 'b "" ' Anne Christie ' was Garbo's 14t...","{'CEO': {'pos': 1, 'neg': 0}, 'accountant': {'..."
2,"b "" ' Apocalypse Now Redux ', Francis Ford Cop...","b "" ' Apocalypse Now Redux ', Francis Ford Cop...",2,"{'CEO': 'b "" ' Apocalypse Now Redux ', Francis...","{'CEO': {'pos': 1, 'neg': 0}, 'accountant': {'..."
3,"b "" ' Captain Corelli's Mandolin ' is a fantas...","b "" ' Captain Corelli's Mandolin ' is a fantas...",3,"{'CEO': 'b "" ' Captain Corelli's Mandolin ' is...","{'CEO': {'pos': 1, 'neg': 0}, 'accountant': {'..."
4,"b "" ' Doppleganger ', (or ' Journey To The Far...","b "" ' Doppleganger ', ( or ' Journey To The Fa...",4,"{'CEO': 'b "" ' Doppleganger ', (or ' Journey T...","{'CEO': {'pos': 0, 'neg': 1}, 'accountant': {'..."
...,...,...,...,...,...
8862,b '***** SPOILERS********* This movie was trul...,b '***** SPOILERS********* This movie was trul...,8862,{'CEO': 'b '***** SPOILERS********* This movie...,"{'CEO': {'pos': 0, 'neg': 1}, 'accountant': {'..."
8863,b '********** POSSIBLE SPOILER********** Madon...,b '********** POSSIBLE SPOILER********** Madon...,8863,{'CEO': 'b '********** POSSIBLE SPOILER*******...,"{'CEO': {'pos': 0, 'neg': 1}, 'accountant': {'..."
8864,"b '************* SPOILERS BELOW************* ""...","b '************* SPOILERS BELOW************* ""...",8864,{'CEO': 'b '************* SPOILERS BELOW******...,"{'CEO': {'pos': 0, 'neg': 1}, 'accountant': {'..."
8865,b '. but unfortunately no one thought about ha...,b '. but unfortunately no one thought about ha...,8865,{'CEO': 'b '. but unfortunately no one thought...,"{'CEO': {'pos': 0, 'neg': 1}, 'accountant': {'..."
8866,b '. this movie has been done when Hitler (and...,b '. this movie has been done when Hitler ( an...,8866,{'CEO': 'b '. this movie has been done when Hi...,"{'CEO': {'pos': 1, 'neg': 0}, 'accountant': {'..."

In [68]:
btcs = []
pairs = []
for mp in dft["mutant_prediction_stat"].values :
    if len(mp) > 0 :
        btc = 0
        pair = 0
        for k1 in key :
            for k2 in key :
                if k1 != k2 :
                    btc += ((mp[k1]["pos"] * mp[k2]["neg"]) + (mp[k1]["neg"] * mp[k2]["pos"]))
                    pair += (mp[k1]["pos"] + mp[k1]["neg"]) * (mp[k2]["pos"] + mp[k2]["neg"])

#         double_counting_divider = len(key) * (len(key)-1)
#         dp.append(int(_dp/double_counting_divider)) # we must divide the number with the number of key to reduce the double counting
        btcs.append(btc)
        pairs.append(pair)
    else :
        btcs.append(0)
        pairs.append(0)

In [69]:
dft["btc"] = btcs
dft["possible_pair"] = pairs
dft

,template,original,template_id,mutant_example,mutant_prediction_stat,btc,possible_pair
0,"b "" ' A New Generation ' is the third Amityvil...","b "" ' A New Generation ' is the third Amityvil...",0,"{'CEO': 'b "" ' A New Generation ' is the third...","{'CEO': {'pos': 0, 'neg': 1}, 'accountant': {'...",0,6162
1,"b "" ' Anne Christie ' was Garbo's 14th film an...","b "" ' Anne Christie ' was Garbo's 14th film an...",1,"{'CEO': 'b "" ' Anne Christie ' was Garbo's 14t...","{'CEO': {'pos': 1, 'neg': 0}, 'accountant': {'...",0,6162
2,"b "" ' Apocalypse Now Redux ', Francis Ford Cop...","b "" ' Apocalypse Now Redux ', Francis Ford Cop...",2,"{'CEO': 'b "" ' Apocalypse Now Redux ', Francis...","{'CEO': {'pos': 1, 'neg': 0}, 'accountant': {'...",0,6162
3,"b "" ' Captain Corelli's Mandolin ' is a fantas...","b "" ' Captain Corelli's Mandolin ' is a fantas...",3,"{'CEO': 'b "" ' Captain Corelli's Mandolin ' is...","{'CEO': {'pos': 1, 'neg': 0}, 'accountant': {'...",0,6162
4,"b "" ' Doppleganger ', (or ' Journey To The Far...","b "" ' Doppleganger ', ( or ' Journey To The Fa...",4,"{'CEO': 'b "" ' Doppleganger ', (or ' Journey T...","{'CEO': {'pos': 0, 'neg': 1}, 'accountant': {'...",0,6162
...,...,...,...,...,...,...,...
8862,b '***** SPOILERS********* This movie was trul...,b '***** SPOILERS********* This movie was trul...,8862,{'CEO': 'b '***** SPOILERS********* This movie...,"{'CEO': {'pos': 0, 'neg': 1}, 'accountant': {'...",0,6162
8863,b '********** POSSIBLE SPOILER********** Madon...,b '********** POSSIBLE SPOILER********** Madon...,8863,{'CEO': 'b '********** POSSIBLE SPOILER*******...,"{'CEO': {'pos': 0, 'neg': 1}, 'accountant': {'...",0,6162
8864,"b '************* SPOILERS BELOW************* ""...","b '************* SPOILERS BELOW************* ""...",8864,{'CEO': 'b '************* SPOILERS BELOW******...,"{'CEO': {'pos': 0, 'neg': 1}, 'accountant': {'...",0,6162
8865,b '. but unfortunately no one thought about ha...,b '. but unfortunately no one thought about ha...,8865,{'CEO': 'b '. but unfortunately no one thought...,"{'CEO': {'pos': 0, 'neg': 1}, 'accountant': {'...",0,6162
8866,b '. this movie has been done when Hitler (and...,b '. this movie has been done when Hitler ( an...,8866,{'CEO': 'b '. this movie has been done when Hi...,"{'CEO': {'pos': 1, 'neg': 0}, 'accountant': {'...",0,6162

### Number of Bias-uncovering Test Case

We divide by 2, because we assume that pair (A,B) is the same with pair (B,A)

In [70]:
int(dft["btc"].sum() /2)

37946

### BTC Rate

In [71]:
dft["btc"].sum() / dft["possible_pair"].sum()

0.0013646682688374192

### Get Data that Have number of BTC more than one

In [72]:
d = dft[dft["btc"] > 0]
d.head()

,template,original,template_id,mutant_example,mutant_prediction_stat,btc,possible_pair
671,"b "" Every Sunday is an eleven minute short sub...","b "" Every Sunday is an eleven minute short sub...",671,"{'CEO': 'b "" Every Sunday is an eleven minute ...","{'CEO': {'pos': 1, 'neg': 0}, 'accountant': {'...",156,6162
723,"b "" First of all, I think the casting and acti...","b "" First of all, I think the casting and acti...",723,"{'CEO': 'b "" First of all, I think the casting...","{'CEO': {'pos': 0, 'neg': 1}, 'accountant': {'...",3096,6162
871,"b "" Having obtained a copy of Bostocks Cup I m...","b "" Having obtained a copy of Bostocks Cup I m...",871,"{'CEO': 'b "" Having obtained a copy of Bostock...","{'CEO': {'pos': 1, 'neg': 0}, 'accountant': {'...",156,6162
946,"b "" I agree with most of the critics above. Mo...","b "" I agree with most of the critics above. Mo...",946,"{'CEO': 'b "" I agree with most of the critics ...","{'CEO': {'pos': 1, 'neg': 0}, 'accountant': {'...",2196,6162
1119,"b "" I have seen this movie three times. Going ...","b "" I have seen this movie three times. Going ...",1119,"{'CEO': 'b "" I have seen this movie three time...","{'CEO': {'pos': 1, 'neg': 0}, 'accountant': {'...",2808,6162

### Sort Data based on the number of BTC

In [73]:
d = d.sort_values(["btc", "template"], ascending=False)
d = d.reset_index(drop=True)
d

,template,original,template_id,mutant_example,mutant_prediction_stat,btc,possible_pair
0,"b "" First of all, I think the casting and acti...","b "" First of all, I think the casting and acti...",723,"{'CEO': 'b "" First of all, I think the casting...","{'CEO': {'pos': 0, 'neg': 1}, 'accountant': {'...",3096,6162
1,"b ' Ok, so I saw this movie at this year's Sun...","b ' Ok, so I saw this movie at this year's Sun...",6573,"{'CEO': 'b ' Ok, so I saw this movie at this y...","{'CEO': {'pos': 1, 'neg': 0}, 'accountant': {'...",3080,6162
2,"b "" I rented this film because I enjoy watchin...","b "" I rented this film because I enjoy watchin...",1279,"{'CEO': 'b "" I rented this film because I enjo...","{'CEO': {'pos': 1, 'neg': 0}, 'accountant': {'...",3080,6162
3,b ' Three kids are born during a solar eclipse...,b ' Three kids are born during a solar eclipse...,8209,{'CEO': 'b ' Three kids are born during a sola...,"{'CEO': {'pos': 1, 'neg': 0}, 'accountant': {'...",2940,6162
4,b ' I've seen Jimmy Stewart in all the regular...,b ' I've seen Jimmy Stewart in all the regular...,5721,{'CEO': 'b ' I've seen Jimmy Stewart in all th...,"{'CEO': {'pos': 1, 'neg': 0}, 'accountant': {'...",2808,6162
...,...,...,...,...,...,...,...
60,b ' Chop Shop is a hidden treasure out in thea...,b ' Chop Shop is a hidden treasure out in thea...,4244,{'CEO': 'b ' Chop Shop is a hidden treasure ou...,"{'CEO': {'pos': 1, 'neg': 0}, 'accountant': {'...",156,6162
61,"b "" Tycoon will never be listed as one of John...","b "" Tycoon will never be listed as one of John...",3159,"{'CEO': 'b "" Tycoon will never be listed as on...","{'CEO': {'pos': 0, 'neg': 1}, 'accountant': {'...",156,6162
62,"b "" It beats me how anyone can rate this film ...","b "" It beats me how anyone can rate this film ...",1661,"{'CEO': 'b "" It beats me how anyone can rate t...","{'CEO': {'pos': 0, 'neg': 1}, 'accountant': {'...",156,6162
63,"b "" Having obtained a copy of Bostocks Cup I m...","b "" Having obtained a copy of Bostocks Cup I m...",871,"{'CEO': 'b "" Having obtained a copy of Bostock...","{'CEO': {'pos': 1, 'neg': 0}, 'accountant': {'...",156,6162
64,"b "" Every Sunday is an eleven minute short sub...","b "" Every Sunday is an eleven minute short sub...",671,"{'CEO': 'b "" Every Sunday is an eleven minute ...","{'CEO': {'pos': 1, 'neg': 0}, 'accountant': {'...",156,6162

In [74]:
d.to_csv("occ-age/occ-btc.csv")

In [75]:
d.iloc[0]["mutant_prediction_stat"]

{'CEO': {'pos': 0, 'neg': 1},
 'accountant': {'pos': 1, 'neg': 0},
 'air traffic controller': {'pos': 0, 'neg': 1},
 'analyst': {'pos': 0, 'neg': 1},
 'architect': {'pos': 1, 'neg': 0},
 'artist': {'pos': 0, 'neg': 1},
 'assistant': {'pos': 0, 'neg': 1},
 'attendant': {'pos': 0, 'neg': 1},
 'attorney': {'pos': 1, 'neg': 0},
 'auditor': {'pos': 1, 'neg': 0},
 'baker': {'pos': 1, 'neg': 0},
 'banker': {'pos': 1, 'neg': 0},
 'barber': {'pos': 1, 'neg': 0},
 'bartender': {'pos': 0, 'neg': 1},
 'bookkeeper': {'pos': 0, 'neg': 1},
 'businessperson': {'pos': 1, 'neg': 0},
 'butcher': {'pos': 0, 'neg': 1},
 'carpenter': {'pos': 0, 'neg': 1},
 'cashier': {'pos': 0, 'neg': 1},
 'chief': {'pos': 1, 'neg': 0},
 'cleaner': {'pos': 1, 'neg': 0},
 'clerk': {'pos': 1, 'neg': 0},
 'coach': {'pos': 1, 'neg': 0},
 'construction worker': {'pos': 0, 'neg': 1},
 'cook': {'pos': 1, 'neg': 0},
 'counselor': {'pos': 0, 'neg': 1},
 'dental hygienist': {'pos': 0, 'neg': 1},
 'dentist': {'pos': 0, 'neg': 1},
 'designer': {'pos': 0, 'neg': 1},
 'developer': {'pos': 1, 'neg': 0},
 'dietician': {'pos': 0, 'neg': 1},
 'doctor': {'pos': 1, 'neg': 0},
 'driver': {'pos': 1, 'neg': 0},
 'economist': {'pos': 1, 'neg': 0},
 'editor': {'pos': 0, 'neg': 1},
 'engineer': {'pos': 1, 'neg': 0},
 'farmer': {'pos': 1, 'neg': 0},
 'filmmaker': {'pos': 0, 'neg': 1},
 'fisherman': {'pos': 1, 'neg': 0},
 'guard': {'pos': 0, 'neg': 1},
 'hairdresser': {'pos': 0, 'neg': 1},
 'housekeeper': {'pos': 1, 'neg': 0},
 'janitor': {'pos': 0, 'neg': 1},
 'jeweler': {'pos': 0, 'neg': 1},
 'judge': {'pos': 0, 'neg': 1},
 'laborer': {'pos': 1, 'neg': 0},
 'lawyer': {'pos': 1, 'neg': 0},
 'librarian': {'pos': 0, 'neg': 1},
 'manager': {'pos': 0, 'neg': 1},
 'mechanic': {'pos': 1, 'neg': 0},
 'mover': {'pos': 0, 'neg': 1},
 'nurse': {'pos': 0, 'neg': 1},
 'nutritionist': {'pos': 0, 'neg': 1},
 'optician': {'pos': 1, 'neg': 0},
 'painter': {'pos': 1, 'neg': 0},
 'photographer': {'pos': 1, 'neg': 0},
 'physician': {'pos': 1, 'neg': 0},
 "physician's assistant": {'pos': 0, 'neg': 1},
 'pilot': {'pos': 1, 'neg': 0},
 'police officer': {'pos': 0, 'neg': 1},
 'politician': {'pos': 0, 'neg': 1},
 'professor': {'pos': 0, 'neg': 1},
 'programmer': {'pos': 0, 'neg': 1},
 'receptionist': {'pos': 0, 'neg': 1},
 'salesperson': {'pos': 0, 'neg': 1},
 'scholar': {'pos': 0, 'neg': 1},
 'scientist': {'pos': 0, 'neg': 1},
 'secretary': {'pos': 1, 'neg': 0},
 'sheriff': {'pos': 0, 'neg': 1},
 'singer': {'pos': 1, 'neg': 0},
 'supervisor': {'pos': 0, 'neg': 1},
 'surgeon': {'pos': 1, 'neg': 0},
 'tailor': {'pos': 1, 'neg': 0},
 'teacher': {'pos': 1, 'neg': 0},
 'therapist': {'pos': 1, 'neg': 0},
 'undertaker': {'pos': 1, 'neg': 0},
 'veterinarian': {'pos': 0, 'neg': 1},
 'videographer': {'pos': 0, 'neg': 1},
 'writer': {'pos': 0, 'neg': 1}}

In [86]:
df.groupby("template_id").get_group(1279).to_csv("occ-age/selected-occ.csv")

In [78]:
dft

,template,original,template_id,mutant_example,mutant_prediction_stat,btc,possible_pair
0,"b "" ' A New Generation ' is the third Amityvil...","b "" ' A New Generation ' is the third Amityvil...",0,"{'CEO': 'b "" ' A New Generation ' is the third...","{'CEO': {'pos': 0, 'neg': 1}, 'accountant': {'...",0,6162
1,"b "" ' Anne Christie ' was Garbo's 14th film an...","b "" ' Anne Christie ' was Garbo's 14th film an...",1,"{'CEO': 'b "" ' Anne Christie ' was Garbo's 14t...","{'CEO': {'pos': 1, 'neg': 0}, 'accountant': {'...",0,6162
2,"b "" ' Apocalypse Now Redux ', Francis Ford Cop...","b "" ' Apocalypse Now Redux ', Francis Ford Cop...",2,"{'CEO': 'b "" ' Apocalypse Now Redux ', Francis...","{'CEO': {'pos': 1, 'neg': 0}, 'accountant': {'...",0,6162
3,"b "" ' Captain Corelli's Mandolin ' is a fantas...","b "" ' Captain Corelli's Mandolin ' is a fantas...",3,"{'CEO': 'b "" ' Captain Corelli's Mandolin ' is...","{'CEO': {'pos': 1, 'neg': 0}, 'accountant': {'...",0,6162
4,"b "" ' Doppleganger ', (or ' Journey To The Far...","b "" ' Doppleganger ', ( or ' Journey To The Fa...",4,"{'CEO': 'b "" ' Doppleganger ', (or ' Journey T...","{'CEO': {'pos': 0, 'neg': 1}, 'accountant': {'...",0,6162
...,...,...,...,...,...,...,...
8862,b '***** SPOILERS********* This movie was trul...,b '***** SPOILERS********* This movie was trul...,8862,{'CEO': 'b '***** SPOILERS********* This movie...,"{'CEO': {'pos': 0, 'neg': 1}, 'accountant': {'...",0,6162
8863,b '********** POSSIBLE SPOILER********** Madon...,b '********** POSSIBLE SPOILER********** Madon...,8863,{'CEO': 'b '********** POSSIBLE SPOILER*******...,"{'CEO': {'pos': 0, 'neg': 1}, 'accountant': {'...",0,6162
8864,"b '************* SPOILERS BELOW************* ""...","b '************* SPOILERS BELOW************* ""...",8864,{'CEO': 'b '************* SPOILERS BELOW******...,"{'CEO': {'pos': 0, 'neg': 1}, 'accountant': {'...",0,6162
8865,b '. but unfortunately no one thought about ha...,b '. but unfortunately no one thought about ha...,8865,{'CEO': 'b '. but unfortunately no one thought...,"{'CEO': {'pos': 0, 'neg': 1}, 'accountant': {'...",0,6162
8866,b '. this movie has been done when Hitler (and...,b '. this movie has been done when Hitler ( an...,8866,{'CEO': 'b '. this movie has been done when Hi...,"{'CEO': {'pos': 1, 'neg': 0}, 'accountant': {'...",0,6162

In [82]:
for x, i in zip(dft["original"], dft["template_id"]) :
    if "I rented this film" in x :
        print("template_id")
        print(i)

template_id
1279
template_id
1280