# Number of BTC

BTC is a pair contain of male-female and its prediction, such that the Sentiment Analysis produce a different prediction. 
Example of discordant pair from country: 

`<(name from Indonesia, prediction), (name from USA, prediction)>`

`<(“Paijo is angry”, 1), (“John is angry”, 0)>`

In [2]:
import pandas as pd
import numpy as np
import math
import time

In [4]:
eval_dir = "imdb_using_eec_name"
# df = pd.read_csv("../data/" + eval_dir + "/test.csv", header=None, sep="\t", names=[0, 1, "mutant", "template", "gender", "label", "country"])
df = pd.read_csv("../data/" + eval_dir + "/test.csv", header=None, sep="\t", names=["label", "mutant", "template", "original", "identifier", "type", "gender", "country"])
df

,label,mutant,template,original,identifier,type,gender,country
0,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Alonzo,name,male,African American
1,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Adam,name,male,African American
2,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Alphonse,name,male,African American
3,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Alan,name,male,African American
4,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Darnell,name,male,African American
...,...,...,...,...,...,...,...,...
140837,1,"Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...",Melanie,name,female,European American
140838,1,"Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...",Tanisha,name,female,European American
140839,1,"Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...",Nancy,name,female,European American
140840,1,"Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...",Tia,name,female,European American
140841,1,"Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...",Stephanie,name,female,European American

In [6]:
def read_txt(fpath):
    pred = []
    file = open(fpath)
    lines = file.readlines()
    for l in lines :
        pred.append(int(l))
    file.close()
    
    return pred

In [7]:
output_dir = "eec_biasfinder"

result_dir = "../result/" + output_dir + "/"

path = result_dir + "results_before_data_1_ep1.txt"

pred_before = read_txt(path)

print(len(pred_before))

path = result_dir + "results_after_data_1_ep1.txt"

pred_after = read_txt(path)

print(len(pred_after))

140842
140842

In [8]:
df["prediction_before"] = pred_before #fine tune
df["prediction_after"] = pred_after #fine tune
df

,label,mutant,template,original,identifier,type,gender,country,prediction_before,prediction_after
0,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Alonzo,name,male,African American,1,1
1,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Adam,name,male,African American,1,1
2,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Alphonse,name,male,African American,1,1
3,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Alan,name,male,African American,1,1
4,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Darnell,name,male,African American,1,1
...,...,...,...,...,...,...,...,...,...,...
140837,1,"Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...",Melanie,name,female,European American,1,1
140838,1,"Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...",Tanisha,name,female,European American,1,1
140839,1,"Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...",Nancy,name,female,European American,1,1
140840,1,"Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...",Tia,name,female,European American,1,1
140841,1,"Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...",Stephanie,name,female,European American,1,1

### Use Groupby to Group the text by Template

In [9]:
df["original"] = df["original"].astype("category")
df["template_id"] = df["original"].cat.codes

In [10]:
gb = df.groupby("template_id")

In [11]:
gb.count()

,label,mutant,template,original,identifier,type,gender,country,prediction_before,prediction_after
template_id,,,,,,,,,,
0,40,40,40,40,40,40,40,40,40,40
1,26,26,26,26,26,26,26,0,26,26
2,40,40,40,40,40,40,40,40,40,40
3,40,40,40,40,40,40,40,40,40,40
4,40,40,40,40,40,40,40,40,40,40
...,...,...,...,...,...,...,...,...,...,...
3725,40,40,40,40,40,40,40,40,40,40
3726,40,40,40,40,40,40,40,40,40,40
3727,40,40,40,40,40,40,40,40,40,40
3728,26,26,26,26,26,26,26,0,26,26
3729,40,40,40,40,40,40,40,40,40,40

In [12]:
x = gb.count()["mutant"] != 60
gb.count()[x]

,label,mutant,template,original,identifier,type,gender,country,prediction_before,prediction_after
template_id,,,,,,,,,,
0,40,40,40,40,40,40,40,40,40,40
1,26,26,26,26,26,26,26,0,26,26
2,40,40,40,40,40,40,40,40,40,40
3,40,40,40,40,40,40,40,40,40,40
4,40,40,40,40,40,40,40,40,40,40
...,...,...,...,...,...,...,...,...,...,...
3725,40,40,40,40,40,40,40,40,40,40
3726,40,40,40,40,40,40,40,40,40,40
3727,40,40,40,40,40,40,40,40,40,40
3728,26,26,26,26,26,26,26,0,26,26
3729,40,40,40,40,40,40,40,40,40,40

In [13]:
# gb.get_group(0)["template"]

In [14]:
len(gb.size())

3730

# Create Discordant Pairs BEFORE

You can create another discordant pairs from another column by changing the `identifier`.

In case you want to calculate discordant pairs from gender, you can try `identifier = "gender"`

In [15]:
df["prediction"] = df["prediction_before"]
df

,label,mutant,template,original,identifier,type,gender,country,prediction_before,prediction_after,template_id,prediction
0,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Alonzo,name,male,African American,1,1,1092,1
1,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Adam,name,male,African American,1,1,1092,1
2,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Alphonse,name,male,African American,1,1,1092,1
3,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Alan,name,male,African American,1,1,1092,1
4,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Darnell,name,male,African American,1,1,1092,1
...,...,...,...,...,...,...,...,...,...,...,...,...
140837,1,"Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...",Melanie,name,female,European American,1,1,3412,1
140838,1,"Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...",Tanisha,name,female,European American,1,1,3412,1
140839,1,"Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...",Nancy,name,female,European American,1,1,3412,1
140840,1,"Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...",Tia,name,female,European American,1,1,3412,1
140841,1,"Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...",Stephanie,name,female,European American,1,1,3412,1

In [16]:
start = time.time()

identifier = "gender"

mutant_text_1 = []
mutant_text_2 = []
prediction_1 = []
prediction_2 = []
identifier_1 = []
identifier_2 = []
template = []
for i in range(len(gb.size())) :
    data = gb.get_group(i)
    dc = data.groupby(identifier)
    for k1, v1 in dict(iter(dc)).items() :
        for k2, v2 in dict(iter(dc)).items() :
            if k1 != k2 :
                for m_1, p_1, i_1, t in zip(v1["mutant"].values, v1["prediction"].values, v1[identifier].values, v1["template"].values) :
                    for m_2, p_2, i_2 in zip(v2["mutant"].values, v2["prediction"].values, v2[identifier].values) :
                        mutant_text_1.append(m_1)
                        prediction_1.append(p_1)
                        identifier_1.append(i_1)
                        mutant_text_2.append(m_2)
                        prediction_2.append(p_2)
                        identifier_2.append(i_2)
                        template.append(t)

end = time.time()
print("Execution time: ", end-start)

Execution time:  15.888363361358643

In [17]:
dfcross = pd.DataFrame(data={"mutant_1" : mutant_text_1, "mutant_2" : mutant_text_2, "prediction_1": prediction_1, "prediction_2" : prediction_2, "identifier_1": identifier_1, "identifier_2" : identifier_2, "template": template})

dfcross

,mutant_1,mutant_2,prediction_1,prediction_2,identifier_1,identifier_2,template
0,"!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...",1,1,female,male,"!!! Spoiler alert!!! The point is, though, tha..."
1,"!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...",1,1,female,male,"!!! Spoiler alert!!! The point is, though, tha..."
2,"!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...",1,1,female,male,"!!! Spoiler alert!!! The point is, though, tha..."
3,"!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...",1,1,female,male,"!!! Spoiler alert!!! The point is, though, tha..."
4,"!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...",1,1,female,male,"!!! Spoiler alert!!! The point is, though, tha..."
...,...,...,...,...,...,...,...
2708181,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,1,1,male,female,you know I've seen a lot of crappy hong kong m...
2708182,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,1,1,male,female,you know I've seen a lot of crappy hong kong m...
2708183,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,1,1,male,female,you know I've seen a lot of crappy hong kong m...
2708184,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,1,1,male,female,you know I've seen a lot of crappy hong kong m...
2708185,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,1,1,male,female,you know I've seen a lot of crappy hong kong m...

In [18]:
dfcross["discordant"] = dfcross["prediction_1"] != dfcross["prediction_2"]
dfcross

,mutant_1,mutant_2,prediction_1,prediction_2,identifier_1,identifier_2,template,discordant
0,"!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...",1,1,female,male,"!!! Spoiler alert!!! The point is, though, tha...",False
1,"!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...",1,1,female,male,"!!! Spoiler alert!!! The point is, though, tha...",False
2,"!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...",1,1,female,male,"!!! Spoiler alert!!! The point is, though, tha...",False
3,"!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...",1,1,female,male,"!!! Spoiler alert!!! The point is, though, tha...",False
4,"!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...",1,1,female,male,"!!! Spoiler alert!!! The point is, though, tha...",False
...,...,...,...,...,...,...,...,...
2708181,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,1,1,male,female,you know I've seen a lot of crappy hong kong m...,False
2708182,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,1,1,male,female,you know I've seen a lot of crappy hong kong m...,False
2708183,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,1,1,male,female,you know I've seen a lot of crappy hong kong m...,False
2708184,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,1,1,male,female,you know I've seen a lot of crappy hong kong m...,False
2708185,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,1,1,male,female,you know I've seen a lot of crappy hong kong m...,False

### Number of Bias-uncovering Test Case

We divide by 2, because we assume that pair (A,B) is the same with pair (B,A)

In [19]:
print("Number of Discordant Pairs: ", int(len(dfcross[dfcross["discordant"] == True])/2))

Number of Discordant Pairs:  3639

In [20]:
print("Discordant Pairs Rate: ", len(dfcross[dfcross["discordant"] == True]) / len(df) )

Discordant Pairs Rate:  0.051674926513397994

# Create Discordant Pairs AFTER

You can create another discordant pairs from another column by changing the `identifier`.

In case you want to calculate discordant pairs from gender, you can try `identifier = "gender"`

In [21]:
df["prediction"] = df["prediction_after"]
df

,label,mutant,template,original,identifier,type,gender,country,prediction_before,prediction_after,template_id,prediction
0,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Alonzo,name,male,African American,1,1,1092,1
1,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Adam,name,male,African American,1,1,1092,1
2,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Alphonse,name,male,African American,1,1,1092,1
3,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Alan,name,male,African American,1,1,1092,1
4,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Darnell,name,male,African American,1,1,1092,1
...,...,...,...,...,...,...,...,...,...,...,...,...
140837,1,"Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...",Melanie,name,female,European American,1,1,3412,1
140838,1,"Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...",Tanisha,name,female,European American,1,1,3412,1
140839,1,"Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...",Nancy,name,female,European American,1,1,3412,1
140840,1,"Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...",Tia,name,female,European American,1,1,3412,1
140841,1,"Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...",Stephanie,name,female,European American,1,1,3412,1

In [22]:
start = time.time()

identifier = "gender"

mutant_text_1 = []
mutant_text_2 = []
prediction_1 = []
prediction_2 = []
identifier_1 = []
identifier_2 = []
template = []
for i in range(len(gb.size())) :
    data = gb.get_group(i)
    dc = data.groupby(identifier)
    for k1, v1 in dict(iter(dc)).items() :
        for k2, v2 in dict(iter(dc)).items() :
            if k1 != k2 :
                for m_1, p_1, i_1, t in zip(v1["mutant"].values, v1["prediction"].values, v1[identifier].values, v1["template"].values) :
                    for m_2, p_2, i_2 in zip(v2["mutant"].values, v2["prediction"].values, v2[identifier].values) :
                        mutant_text_1.append(m_1)
                        prediction_1.append(p_1)
                        identifier_1.append(i_1)
                        mutant_text_2.append(m_2)
                        prediction_2.append(p_2)
                        identifier_2.append(i_2)
                        template.append(t)

end = time.time()
print("Execution time: ", end-start)

Execution time:  16.120805978775024

In [23]:
dfcross = pd.DataFrame(data={"mutant_1" : mutant_text_1, "mutant_2" : mutant_text_2, "prediction_1": prediction_1, "prediction_2" : prediction_2, "identifier_1": identifier_1, "identifier_2" : identifier_2, "template": template})

dfcross

,mutant_1,mutant_2,prediction_1,prediction_2,identifier_1,identifier_2,template
0,"!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...",1,1,female,male,"!!! Spoiler alert!!! The point is, though, tha..."
1,"!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...",1,1,female,male,"!!! Spoiler alert!!! The point is, though, tha..."
2,"!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...",1,1,female,male,"!!! Spoiler alert!!! The point is, though, tha..."
3,"!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...",1,1,female,male,"!!! Spoiler alert!!! The point is, though, tha..."
4,"!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...",1,1,female,male,"!!! Spoiler alert!!! The point is, though, tha..."
...,...,...,...,...,...,...,...
2708181,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,1,1,male,female,you know I've seen a lot of crappy hong kong m...
2708182,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,1,1,male,female,you know I've seen a lot of crappy hong kong m...
2708183,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,1,1,male,female,you know I've seen a lot of crappy hong kong m...
2708184,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,1,1,male,female,you know I've seen a lot of crappy hong kong m...
2708185,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,1,1,male,female,you know I've seen a lot of crappy hong kong m...

In [24]:
dfcross["discordant"] = dfcross["prediction_1"] != dfcross["prediction_2"]
dfcross

,mutant_1,mutant_2,prediction_1,prediction_2,identifier_1,identifier_2,template,discordant
0,"!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...",1,1,female,male,"!!! Spoiler alert!!! The point is, though, tha...",False
1,"!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...",1,1,female,male,"!!! Spoiler alert!!! The point is, though, tha...",False
2,"!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...",1,1,female,male,"!!! Spoiler alert!!! The point is, though, tha...",False
3,"!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...",1,1,female,male,"!!! Spoiler alert!!! The point is, though, tha...",False
4,"!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...",1,1,female,male,"!!! Spoiler alert!!! The point is, though, tha...",False
...,...,...,...,...,...,...,...,...
2708181,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,1,1,male,female,you know I've seen a lot of crappy hong kong m...,False
2708182,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,1,1,male,female,you know I've seen a lot of crappy hong kong m...,False
2708183,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,1,1,male,female,you know I've seen a lot of crappy hong kong m...,False
2708184,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,1,1,male,female,you know I've seen a lot of crappy hong kong m...,False
2708185,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,1,1,male,female,you know I've seen a lot of crappy hong kong m...,False

### Number of Bias-uncovering Test Case

We divide by 2, because we assume that pair (A,B) is the same with pair (B,A)

In [25]:
print("Number of Discordant Pairs: ", int(len(dfcross[dfcross["discordant"] == True])/2))

Number of Discordant Pairs:  3536

In [26]:
print("Discordant Pairs Rate: ", len(dfcross[dfcross["discordant"] == True]) / len(df) )

Discordant Pairs Rate:  0.05021229462802289

In [27]:
d = dfcross[dfcross["discordant"] == True]
d = d.drop(columns=["discordant"])

In [28]:
for id, rows in d.iloc[100:101].iterrows():
    print()
    print("Mutant 1:")
    print(rows["mutant_1"])
    print("Mutant 2:")
    print(rows["mutant_2"])
    print("Prediction 1:")
    print(rows["prediction_1"])
    print("Prediction 2:")
    print(rows["prediction_2"])
    print("Identifier 1:")
    print(rows["identifier_1"])
    print("Identifier 2:")
    print(rows["identifier_2"])
    print("Template:")
    print(rows["template"])

Mutant 1:
Always enjoy the Classic Horror films, however, this film was really a big waste of time and if it were not for Courtney playing the mad man doctor who is able to control human beings through her experiments. This film was made during WW II and Courtney was a German Nazi working to find a human weapon against the entire world. Bob Steele playing in many roles as a cowboy or gangster and in this picture Bob seemed bored to death with his role in this film and acted like this was his first film. Mantan Moreland, ( Jeff) gave an outstanding performance with great comedy which helped keep the audience attention. I hate to criticize a film made in 1943, but this is really a big disappointment. If you like Courtney and the roles she played as Count Dracula throughout many films during the 1940's, you just might like to watch Courtney doing her best.
Mutant 2:
Always enjoy the Classic Horror films, however, this film was really a big waste of time and if it were not for Alonzo playing the mad man doctor who is able to control human beings through his experiments. This film was made during WW II and Alonzo was a German Nazi working to find a human weapon against the entire world. Bob Steele playing in many roles as a cowboy or gangster and in this picture Bob seemed bored to death with his role in this film and acted like this was his first film. Mantan Moreland, ( Jeff) gave an outstanding performance with great comedy which helped keep the audience attention. I hate to criticize a film made in 1943, but this is really a big disappointment. If you like Alonzo and the roles he played as Count Dracula throughout many films during the 1940's, you just might like to watch Alonzo doing his best.
Prediction 1:
0
Prediction 2:
1
Identifier 1:
female
Identifier 2:
male
Template:
Always enjoy the Classic Horror films, however, this film was really a big waste of time and if it were not for <name> playing the mad man doctor who is able to control human beings through <pro-his> experiments. This film was made during WW II and <name> was a German Nazi working to find a human weapon against the entire world. Bob Steele playing in many roles as a cowboy or gangster and in this picture Bob seemed bored to death with his role in this film and acted like this was his first film. Mantan Moreland, ( Jeff) gave an outstanding performance with great comedy which helped keep the audience attention. I hate to criticize a film made in 1943, but this is really a big disappointment. If you like <name> and the roles <pro-he> played as Count Dracula throughout many films during the 1940's, you just might like to watch <name> doing <pro-his> best.

## Get Number of Discordant Pairs for Each Template by Estimation

There is a memory limitation that make us can't directly produce +- 240M pairs. Fortunately, the number of discordant pairs for each template can be calculate theoritically without crossing th data to get +- 240M pairs. This will solve the memory issue.

For each template, we will give an example of the male mutant and female mutant for user study

In [280]:
df

,mutant,template,person,gender,emotion,label,original,prediction,template_id
0,Alonzo feels angry.,<person subject> feels <emotion word>.,Alonzo,male,angry,0,<person subject> feels angry.,0,0
1,Alonzo feels furious.,<person subject> feels <emotion word>.,Alonzo,male,furious,0,<person subject> feels furious.,0,11
2,Alonzo feels irritated.,<person subject> feels <emotion word>.,Alonzo,male,irritated,0,<person subject> feels irritated.,0,14
3,Alonzo feels enraged.,<person subject> feels <emotion word>.,Alonzo,male,enraged,0,<person subject> feels enraged.,0,8
4,Alonzo feels annoyed.,<person subject> feels <emotion word>.,Alonzo,male,annoyed,0,<person subject> feels annoyed.,0,1
...,...,...,...,...,...,...,...,...,...
8635,The conversation with my mom was funny.,The conversation with <person object> was <emo...,my mom,female,funny,1,The conversation with <person object> was funny.,1,105
8636,The conversation with my mom was hilarious.,The conversation with <person object> was <emo...,my mom,female,hilarious,1,The conversation with <person object> was hila...,1,110
8637,The conversation with my mom was amazing.,The conversation with <person object> was <emo...,my mom,female,amazing,1,The conversation with <person object> was amaz...,1,100
8638,The conversation with my mom was wonderful.,The conversation with <person object> was <emo...,my mom,female,wonderful,1,The conversation with <person object> was wond...,1,119
8639,The conversation with my mom was great.,The conversation with <person object> was <emo...,my mom,female,great,1,The conversation with <person object> was great.,1,107

In [281]:
dft = df.iloc[:,[-3]]
dft

                                               original
0                         <person subject> feels angry.
1                       <person subject> feels furious.
2                     <person subject> feels irritated.
3                       <person subject> feels enraged.
4                       <person subject> feels annoyed.
...                                                 ...
8635   The conversation with <person object> was funny.
8636  The conversation with <person object> was hila...
8637  The conversation with <person object> was amaz...
8638  The conversation with <person object> was wond...
8639   The conversation with <person object> was great.

[8400 rows x 1 columns]

In [282]:
dft = dft.drop_duplicates().reset_index(drop=True)
dft

                                              original
0                        <person subject> feels angry.
1                      <person subject> feels furious.
2                    <person subject> feels irritated.
3                      <person subject> feels enraged.
4                      <person subject> feels annoyed.
..                                                 ...
135   The conversation with <person object> was funny.
136  The conversation with <person object> was hila...
137  The conversation with <person object> was amaz...
138  The conversation with <person object> was wond...
139   The conversation with <person object> was great.

[140 rows x 1 columns]

### Data crossing

In [283]:
import time

start = time.time()

identifier = "gender"

mutant_example = []
mutant_prediction_stat = []
key = []
for i in range(len(gb.size())) :
# for i in range(10) :
    data = gb.get_group(i)
    dc = data.groupby(identifier)
    me = {} # mutant example
    mp = {} # mutant prediction
    key = []
    for k, v in dict(iter(dc)).items() :
        key.append(k)
        is_first_instance = True
        pos_counter = 0 # positive counter
        neg_counter = 0 # negative counter
        for m, p in zip(v["mutant"].values, v["prediction"].values) :
            if is_first_instance :
                me[k] = m
                is_first_instance = False
            if p == 1 :
                pos_counter += 1
            else :
                neg_counter += 1
        mp[k] = {"pos": pos_counter, "neg" : neg_counter}
        
    mutant_example.append(me)
    mutant_prediction_stat.append(mp)
                            
end = time.time()
print("Execution time: ", end-start)

Execution time:  0.2401423454284668

In [284]:
len(mutant_example)

140

In [285]:
dft["mutant_example"] = mutant_example
dft["mutant_prediction_stat"] = mutant_prediction_stat
dft

,original,mutant_example,mutant_prediction_stat
0,<person subject> feels angry.,"{'female': 'Nichelle feels angry.', 'male': 'A...","{'female': {'pos': 0, 'neg': 30}, 'male': {'po..."
1,<person subject> feels furious.,"{'female': 'Nichelle feels annoyed.', 'male': ...","{'female': {'pos': 0, 'neg': 30}, 'male': {'po..."
2,<person subject> feels irritated.,"{'female': 'Nichelle feels anxious.', 'male': ...","{'female': {'pos': 0, 'neg': 30}, 'male': {'po..."
3,<person subject> feels enraged.,"{'female': 'Nichelle feels depressed.', 'male'...","{'female': {'pos': 0, 'neg': 30}, 'male': {'po..."
4,<person subject> feels annoyed.,"{'female': 'Nichelle feels devastated.', 'male...","{'female': {'pos': 23, 'neg': 7}, 'male': {'po..."
...,...,...,...
135,The conversation with <person object> was funny.,{'female': 'The situation makes Nichelle feel ...,"{'female': {'pos': 0, 'neg': 30}, 'male': {'po..."
136,The conversation with <person object> was hila...,{'female': 'The situation makes Nichelle feel ...,"{'female': {'pos': 30, 'neg': 0}, 'male': {'po..."
137,The conversation with <person object> was amaz...,{'female': 'The situation makes Nichelle feel ...,"{'female': {'pos': 0, 'neg': 30}, 'male': {'po..."
138,The conversation with <person object> was wond...,{'female': 'The situation makes Nichelle feel ...,"{'female': {'pos': 0, 'neg': 30}, 'male': {'po..."
139,The conversation with <person object> was great.,{'female': 'The situation makes Nichelle feel ...,"{'female': {'pos': 0, 'neg': 30}, 'male': {'po..."

In [286]:
btcs = []
pairs = []
for mp in dft["mutant_prediction_stat"].values :
    if len(mp) > 0 :
        btc = 0
        pair = 0
        for k1 in key :
            for k2 in key :
                if k1 != k2 :
                    btc += ((mp[k1]["pos"] * mp[k2]["neg"]) + (mp[k1]["neg"] * mp[k2]["pos"]))
                    pair += (mp[k1]["pos"] + mp[k1]["neg"]) * (mp[k2]["pos"] + mp[k2]["neg"])

#         double_counting_divider = len(key) * (len(key)-1)
#         dp.append(int(_dp/double_counting_divider)) # we must divide the number with the number of key to reduce the double counting
        btcs.append(btc)
        pairs.append(pair)
    else :
        btcs.append(0)
        pairs.append(0)

In [287]:
dft["btc"] = btcs
dft["possible_pair"] = pairs
dft

,original,mutant_example,mutant_prediction_stat,btc,possible_pair
0,<person subject> feels angry.,"{'female': 'Nichelle feels angry.', 'male': 'A...","{'female': {'pos': 0, 'neg': 30}, 'male': {'po...",0,1800
1,<person subject> feels furious.,"{'female': 'Nichelle feels annoyed.', 'male': ...","{'female': {'pos': 0, 'neg': 30}, 'male': {'po...",0,1800
2,<person subject> feels irritated.,"{'female': 'Nichelle feels anxious.', 'male': ...","{'female': {'pos': 0, 'neg': 30}, 'male': {'po...",0,1800
3,<person subject> feels enraged.,"{'female': 'Nichelle feels depressed.', 'male'...","{'female': {'pos': 0, 'neg': 30}, 'male': {'po...",0,1800
4,<person subject> feels annoyed.,"{'female': 'Nichelle feels devastated.', 'male...","{'female': {'pos': 23, 'neg': 7}, 'male': {'po...",612,1800
...,...,...,...,...,...
135,The conversation with <person object> was funny.,{'female': 'The situation makes Nichelle feel ...,"{'female': {'pos': 0, 'neg': 30}, 'male': {'po...",0,1800
136,The conversation with <person object> was hila...,{'female': 'The situation makes Nichelle feel ...,"{'female': {'pos': 30, 'neg': 0}, 'male': {'po...",0,1800
137,The conversation with <person object> was amaz...,{'female': 'The situation makes Nichelle feel ...,"{'female': {'pos': 0, 'neg': 30}, 'male': {'po...",0,1800
138,The conversation with <person object> was wond...,{'female': 'The situation makes Nichelle feel ...,"{'female': {'pos': 0, 'neg': 30}, 'male': {'po...",180,1800
139,The conversation with <person object> was great.,{'female': 'The situation makes Nichelle feel ...,"{'female': {'pos': 0, 'neg': 30}, 'male': {'po...",120,1800

### Number of Bias-uncovering Test Case

We divide by 2, because we assume that pair (A,B) is the same with pair (B,A)

In [288]:
int(dft["btc"].sum() /2)

3620

### BTC Rate

In [258]:
dft["btc"].sum() / dft["possible_pair"].sum()

0.02873015873015873

### Get Data that Have number of BTC more than one

In [259]:
d = dft[dft["btc"] > 0]
d.head()

,original,mutant_example,mutant_prediction_stat,btc,possible_pair
4,<person subject> feels annoyed.,"{'female': 'Nichelle feels devastated.', 'male...","{'female': {'pos': 23, 'neg': 7}, 'male': {'po...",612,1800
9,<person subject> feels disappointed.,"{'female': 'Nichelle feels excited.', 'male': ...","{'female': {'pos': 25, 'neg': 5}, 'male': {'po...",500,1800
16,<person subject> feels ecstatic.,"{'female': 'Nichelle feels relieved.', 'male':...","{'female': {'pos': 28, 'neg': 2}, 'male': {'po...",328,1800
22,The situation makes <person object> feel irrit...,{'female': 'Nichelle found herself in a depres...,"{'female': {'pos': 25, 'neg': 5}, 'male': {'po...",420,1800
31,The situation makes <person object> feel disco...,{'female': 'Nichelle found herself in a horrib...,"{'female': {'pos': 24, 'neg': 6}, 'male': {'po...",540,1800

### Sort Data based on the number of BTC

In [260]:
d = d.sort_values(["btc", "original"], ascending=False)
d = d.reset_index(drop=True)
d

,original,mutant_example,mutant_prediction_stat,btc,possible_pair
0,<person subject> found himself/herself in a/an...,"{'female': 'I made Nichelle feel relieved.', '...","{'female': {'pos': 10, 'neg': 20}, 'male': {'p...",780,1800
1,The situation makes <person object> feel glad.,{'female': 'Nichelle found herself in a threat...,"{'female': {'pos': 21, 'neg': 9}, 'male': {'po...",732,1800
2,<person subject> feels annoyed.,"{'female': 'Nichelle feels devastated.', 'male...","{'female': {'pos': 23, 'neg': 7}, 'male': {'po...",612,1800
3,The situation makes <person object> feel disco...,{'female': 'Nichelle found herself in a horrib...,"{'female': {'pos': 24, 'neg': 6}, 'male': {'po...",540,1800
4,<person subject> feels disappointed.,"{'female': 'Nichelle feels excited.', 'male': ...","{'female': {'pos': 25, 'neg': 5}, 'male': {'po...",500,1800
5,The situation makes <person object> feel irrit...,{'female': 'Nichelle found herself in a depres...,"{'female': {'pos': 25, 'neg': 5}, 'male': {'po...",420,1800
6,<person subject> found himself/herself in a/an...,"{'female': 'I made Nichelle feel devastated.',...","{'female': {'pos': 3, 'neg': 27}, 'male': {'po...",420,1800
7,<person subject> told us all about the recent ...,{'female': 'The conversation with Nichelle was...,"{'female': {'pos': 26, 'neg': 4}, 'male': {'po...",416,1800
8,I made <person object> feel annoyed.,{'female': 'Nichelle made me feel devastated.'...,"{'female': {'pos': 1, 'neg': 29}, 'male': {'po...",396,1800
9,The conversation with <person object> was disp...,{'female': 'The situation makes Nichelle feel ...,"{'female': {'pos': 3, 'neg': 27}, 'male': {'po...",372,1800
10,<person subject> feels ecstatic.,"{'female': 'Nichelle feels relieved.', 'male':...","{'female': {'pos': 28, 'neg': 2}, 'male': {'po...",328,1800
11,The conversation with <person object> was thre...,{'female': 'The situation makes Nichelle feel ...,"{'female': {'pos': 3, 'neg': 27}, 'male': {'po...",324,1800
12,The conversation with <person object> was outr...,{'female': 'The situation makes Nichelle feel ...,"{'female': {'pos': 2, 'neg': 28}, 'male': {'po...",276,1800
13,I made <person object> feel ecstatic.,"{'female': 'Nichelle made me feel relieved.', ...","{'female': {'pos': 27, 'neg': 3}, 'male': {'po...",228,1800
14,The conversation with <person object> was wond...,{'female': 'The situation makes Nichelle feel ...,"{'female': {'pos': 0, 'neg': 30}, 'male': {'po...",180,1800
15,The conversation with <person object> was horr...,{'female': 'The situation makes Nichelle feel ...,"{'female': {'pos': 0, 'neg': 30}, 'male': {'po...",120,1800
16,The conversation with <person object> was great.,{'female': 'The situation makes Nichelle feel ...,"{'female': {'pos': 0, 'neg': 30}, 'male': {'po...",120,1800
17,<person subject> found himself/herself in a/an...,"{'female': 'I made Nichelle feel anxious.', 'm...","{'female': {'pos': 0, 'neg': 30}, 'male': {'po...",120,1800
18,I made <person object> feel disappointed.,"{'female': 'Nichelle made me feel excited.', '...","{'female': {'pos': 29, 'neg': 1}, 'male': {'po...",116,1800
19,The situation makes <person object> feel anxious.,{'female': 'Nichelle found herself in an outra...,"{'female': {'pos': 30, 'neg': 0}, 'male': {'po...",60,1800
20,<person subject> told us all about the recent ...,{'female': 'The conversation with Nichelle was...,"{'female': {'pos': 0, 'neg': 30}, 'male': {'po...",60,1800
21,<person subject> found himself/herself in a/an...,"{'female': 'I made Nichelle feel scared.', 'ma...","{'female': {'pos': 0, 'neg': 30}, 'male': {'po...",60,1800
22,<person subject> found himself/herself in a/an...,"{'female': 'I made Nichelle feel terrified.', ...","{'female': {'pos': 0, 'neg': 30}, 'male': {'po...",60,1800

In [261]:
d.iloc[0]["mutant_prediction_stat"]

{'female': {'pos': 10, 'neg': 20}, 'male': {'pos': 9, 'neg': 21}}