# User Study

In [34]:
import pandas as pd
import numpy as np
import math
import time

In [35]:
eval_dir = "gc_imdb"
# df = pd.read_csv("../data/" + eval_dir + "/test.csv", header=None, sep="\t", names=[0, 1, "mutant", "template", "gender", "label", "country"])
df = pd.read_csv("../data/" + eval_dir + "/test.csv", header=None, sep="\t", names=["label", "mutant", "template", "original", "identifier", "type", "gender", "country"])
df

,label,mutant,template,original,identifier,type,gender,country
0,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Roen,name,male,UK
1,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Jeet,name,male,UK
2,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Hagen,name,male,UK
3,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Willow,name,male,UK
4,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Belal,name,male,UK
...,...,...,...,...,...,...,...,...
986747,1,"Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...",Dódi,name,female,Hungary
986748,1,"Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...",Iboyka,name,female,Hungary
986749,1,"Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...",Zsófia,name,female,Hungary
986750,1,"Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...",Ágota,name,female,Hungary
986751,1,"Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...",Alexa,name,female,Hungary

In [36]:
def read_txt(fpath):
    pred = []
    file = open(fpath)
    lines = file.readlines()
    for l in lines :
        pred.append(int(l))
    file.close()
    
    return pred

In [37]:
output_dir = "gc_imdb"

result_dir = "../result/" + output_dir + "/"

path = result_dir + "results_data.txt"

pred = read_txt(path)

print(len(pred))

986752

In [38]:
df["prediction"] = pred

In [39]:
df

,label,mutant,template,original,identifier,type,gender,country,prediction
0,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Roen,name,male,UK,1
1,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Jeet,name,male,UK,1
2,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Hagen,name,male,UK,1
3,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Willow,name,male,UK,1
4,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Belal,name,male,UK,1
...,...,...,...,...,...,...,...,...,...
986747,1,"Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...",Dódi,name,female,Hungary,1
986748,1,"Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...",Iboyka,name,female,Hungary,1
986749,1,"Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...",Zsófia,name,female,Hungary,1
986750,1,"Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...",Ágota,name,female,Hungary,1
986751,1,"Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...",Alexa,name,female,Hungary,1

In [106]:
df[df["label"] == 0].reset_index(drop=True)["original"][0]

'Does anyone else think that " Reba " is basically a ripoff of " Roseanne "? Just look at the characters from the two families, Connors ( Roseanne) and Harts ( Reba); the blonde bombshell elder daughter ( Becky Connor and Cheyenne Hart) who\'s married to a moron ( Mark Healy and Van Montgomery), the sarcastic brunette younger daughter ( Darlene Connor and Kyra Hart), the little brother ( DJ Connor and Jake Hart), and the quirky relative ( Jackie Connor and BarbaraJean Booker Hart).   And then, of course, there is the biggest similarity, Reba Hart and Roseanne Connor. " Reba " tried to copy the sarcastic and toughlove style mom without giving her the same lovable qualities as Roseanne had. Or, perhaps, they made her* too* lovable, for Reba Hart seems to waver between being mean and scary ( hence Van\'s line to his wife Cheyenne " I\'m not afraid of you, I\'m afraid of your mother! ") and being sweet and caring with little transition in between. Roseanne at least managed to get it across that she was being cruel to be kind, since she was always mean and sarcastic and, whenever she tried to open up, it was hard for her. As inconsistent as Reba\'s character is, it\'s hard for her to be believable.   But even if the characters weren\'t completely ripped off of " Roseanne ", nothing could\'ve saved the show from being subpar in the plot area. The writers try to give the show substance but they really can\'t lay off the corny jokes long enough to give any impact. And you\'d better believe the jokes are corny; it\'s as if they were written by a twelveyearold who thinks that any joke is hilarious. While occasionally they come out with something that\'s funny ( I don\'t pretend that I didn\'t laugh at a few episodes) these gems are too few and far between to make " Reba " witty.   Overall, " Reba " is a very mediocre show with obvious ripoffs of " Roseanne ", subpar plots and subsubpar humor, and ( let\'s face it) terrible acting. The show might be a bit better, actually, if they replaced all the actors, especially Reba herself, who is more community- theater quality than primetime sitcom quality.   I give it a 3 out of 10 just to be fair to the good jokes that make it in.'

### Use Groupby to Group the text by Template

In [44]:
df["template"] = df["template"].astype("category")
df["template_id"] = df["template"].cat.codes

In [45]:
gb = df.groupby("template_id")

In [46]:
gb.count()

,label,mutant,template,original,identifier,type,gender,country,prediction
template_id,,,,,,,,,
0,310,310,310,310,310,310,310,310,310
1,26,26,26,26,26,26,26,0,26
2,310,310,310,310,310,310,310,310,310
3,310,310,310,310,310,310,310,310,310
4,310,310,310,310,310,310,310,310,310
...,...,...,...,...,...,...,...,...,...
3725,310,310,310,310,310,310,310,310,310
3726,310,310,310,310,310,310,310,310,310
3727,310,310,310,310,310,310,310,310,310
3728,26,26,26,26,26,26,26,0,26
3729,310,310,310,310,310,310,310,310,310

In [21]:
len(gb.size())

3692

In [48]:
df

,label,mutant,template,original,identifier,type,gender,country,prediction,template_id
0,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Roen,name,male,UK,1,1218
1,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Jeet,name,male,UK,1,1218
2,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Hagen,name,male,UK,1,1218
3,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Willow,name,male,UK,1,1218
4,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Belal,name,male,UK,1,1218
...,...,...,...,...,...,...,...,...,...,...
986747,1,"Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...",Dódi,name,female,Hungary,1,3417
986748,1,"Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...",Iboyka,name,female,Hungary,1,3417
986749,1,"Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...",Zsófia,name,female,Hungary,1,3417
986750,1,"Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...",Ágota,name,female,Hungary,1,3417
986751,1,"Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...",Alexa,name,female,Hungary,1,3417

### Get DF template only

In [49]:
dft = df.iloc[:,[2,3,9]]
dft = dft.drop_duplicates()
dft

,template,original,template_id
0,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",1218
310,In the groovy mid 70's a scruffy bunch of bras...,In the groovy mid 70's a scruffy bunch of bras...,1830
620,This must have been one of <name> 's most ambi...,This must have been one of Chaplin's most ambi...,3218
930,The debut that plucked from obscurity one of t...,The debut that plucked from obscurity one of t...,2615
1240,There is really no way to compare this motion ...,There is really no way to compare this motion ...,2771
...,...,...,...
985202,I caught this a few times on TV in the late 19...,I caught this a few times on TV in the late 19...,1061
985512,"This film is hilarious. Brilliant comedy, but ...","This film is hilarious. Brilliant comedy, but ...",2855
985822,"One of my favorite movies. I like horses, I li...","One of my favorite movies. I like horses, I li...",2272
986132,My Take: Yet another lame PG-13 horror movie w...,My Take: Yet another lame PG-13 horror movie w...,2091
986442,"Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...",3417

In [54]:
## template
dft = dft.sort_values(by=["template_id"])
dft = dft.reset_index(drop=True)

## mutant
df = df.reset_index(drop=True)

In [55]:
df

,label,mutant,template,original,identifier,type,gender,country,prediction,template_id
0,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Roen,name,male,UK,1,1218
1,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Jeet,name,male,UK,1,1218
2,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Hagen,name,male,UK,1,1218
3,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Willow,name,male,UK,1,1218
4,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Belal,name,male,UK,1,1218
...,...,...,...,...,...,...,...,...,...,...
986747,1,"Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...",Dódi,name,female,Hungary,1,3417
986748,1,"Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...",Iboyka,name,female,Hungary,1,3417
986749,1,"Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...",Zsófia,name,female,Hungary,1,3417
986750,1,"Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...",Ágota,name,female,Hungary,1,3417
986751,1,"Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...",Alexa,name,female,Hungary,1,3417

In [56]:
dft

,template,original,template_id
0,"!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...",0
1,!!!! MILD SPOILERS!!!! The premise goes like t...,!!!! MILD SPOILERS!!!! The premise goes like t...,1
2,' <name> Saves Christmas ' is comedian Ernest'...,' Ernest Saves Christmas ' is comedian Ernest'...,2
3,' Be With Me ' is almost the ultimate wallpape...,' Be With Me ' is almost the ultimate wallpape...,3
4,' Illuminata ' has expanded the limits of John...,' Illuminata ' has expanded the limits of John...,4
...,...,...,...
3725,"without a doubt, one of the most racially prej...","without a doubt, one of the most racially prej...",3725
3726,wow is all i could say i really loved the movi...,wow is all i could say i really loved the movi...,3726
3727,wow! it's even better than I expected! the bes...,wow! it's even better than I expected! the bes...,3727
3728,www.petitiononline.com/19784444/petition.html ...,www.petitiononline.com/19784444/petition.html ...,3728
3729,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,3729

In [107]:
dft.to_csv("gender-template.csv")

## Get Number of Discordant Pairs for Each Template

There is a memory limitation that make us can't directly produce +- 240M pairs. Fortunately, the number of discordant pairs for each template can be calculate theoritically without crossing th data to get +- 240M pairs. This will solve the memory issue.

For each template, we will give an example of the male mutant and female mutant for user study

In [57]:
gb = df.groupby("template_id")
gb.count()

,label,mutant,template,original,identifier,type,gender,country,prediction
template_id,,,,,,,,,
0,310,310,310,310,310,310,310,310,310
1,26,26,26,26,26,26,26,0,26
2,310,310,310,310,310,310,310,310,310
3,310,310,310,310,310,310,310,310,310
4,310,310,310,310,310,310,310,310,310
...,...,...,...,...,...,...,...,...,...
3725,310,310,310,310,310,310,310,310,310
3726,310,310,310,310,310,310,310,310,310
3727,310,310,310,310,310,310,310,310,310
3728,26,26,26,26,26,26,26,0,26
3729,310,310,310,310,310,310,310,310,310

### Data crossing

In [58]:
import time

start = time.time()

identifier = "gender"

mutant_example = []
mutant_prediction_stat = []
key = []
for i in range(len(gb.size())) :
# for i in range(10) :
    data = gb.get_group(i)
    dc = data.groupby(identifier)
    me = {} # mutant example
    mp = {} # mutant prediction
    key = []
    for k, v in dict(iter(dc)).items() :
        key.append(k)
        is_first_instance = True
        pos_counter = 0 # positive counter
        neg_counter = 0 # negative counter
        for m, p in zip(v["mutant"].values, v["prediction"].values) :
            if is_first_instance :
                me[k] = m
                is_first_instance = False
            if p == 1 :
                pos_counter += 1
            else :
                neg_counter += 1
        mp[k] = {"pos": pos_counter, "neg" : neg_counter}
        
    mutant_example.append(me)
    mutant_prediction_stat.append(mp)
                            
end = time.time()
print("Execution time: ", end-start)

Execution time:  6.637021064758301

In [59]:
dft["mutant_example"] = mutant_example
dft["mutant_prediction_stat"] = mutant_prediction_stat
dft

,template,original,template_id,mutant_example,mutant_prediction_stat
0,"!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...",0,"{'female': '!!! Spoiler alert!!! The point is,...","{'female': {'pos': 155, 'neg': 0}, 'male': {'p..."
1,!!!! MILD SPOILERS!!!! The premise goes like t...,!!!! MILD SPOILERS!!!! The premise goes like t...,1,{'female': '!!!! MILD SPOILERS!!!! The premise...,"{'female': {'pos': 0, 'neg': 13}, 'male': {'po..."
2,' <name> Saves Christmas ' is comedian Ernest'...,' Ernest Saves Christmas ' is comedian Ernest'...,2,{'female': '' Sárinka Saves Christmas ' is com...,"{'female': {'pos': 155, 'neg': 0}, 'male': {'p..."
3,' Be With Me ' is almost the ultimate wallpape...,' Be With Me ' is almost the ultimate wallpape...,3,{'female': '' Be With Me ' is almost the ultim...,"{'female': {'pos': 0, 'neg': 155}, 'male': {'p..."
4,' Illuminata ' has expanded the limits of John...,' Illuminata ' has expanded the limits of John...,4,{'female': '' Illuminata ' has expanded the li...,"{'female': {'pos': 0, 'neg': 155}, 'male': {'p..."
...,...,...,...,...,...
3725,"without a doubt, one of the most racially prej...","without a doubt, one of the most racially prej...",3725,"{'female': 'without a doubt, one of the most r...","{'female': {'pos': 0, 'neg': 155}, 'male': {'p..."
3726,wow is all i could say i really loved the movi...,wow is all i could say i really loved the movi...,3726,{'female': 'wow is all i could say i really lo...,"{'female': {'pos': 155, 'neg': 0}, 'male': {'p..."
3727,wow! it's even better than I expected! the bes...,wow! it's even better than I expected! the bes...,3727,{'female': 'wow! it's even better than I expec...,"{'female': {'pos': 155, 'neg': 0}, 'male': {'p..."
3728,www.petitiononline.com/19784444/petition.html ...,www.petitiononline.com/19784444/petition.html ...,3728,{'female': 'www.petitiononline.com/19784444/pe...,"{'female': {'pos': 13, 'neg': 0}, 'male': {'po..."
3729,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,3729,{'female': 'you know I've seen a lot of crappy...,"{'female': {'pos': 155, 'neg': 0}, 'male': {'p..."

In [74]:
key

['female', 'male']

In [79]:
btcs = []
pairs = []
for mp in dft["mutant_prediction_stat"].values :
    if len(mp) > 0 :
        btc = 0
        pair = 0
        already_processed = []
        for k1 in key :
            for k2 in key :
                if k1 != k2 :
                    k = k1 + "-" + k2
                    if k1 > k2 :
                        k = k2 + "-" + k1
                    if k not in already_processed :
                        already_processed.append(k)

                        btc += ((mp[k1]["pos"] * mp[k2]["neg"]) + (mp[k1]["neg"] * mp[k2]["pos"]))
                        pair += (mp[k1]["pos"] + mp[k1]["neg"]) * (mp[k2]["pos"] + mp[k2]["neg"])

#         double_counting_divider = len(key) * (len(key)-1)
#         dp.append(int(_dp/double_counting_divider)) # we must divide the number with the number of key to reduce the double counting
        btcs.append(btc)
        pairs.append(pair)
    else :
        btcs.append(0)
        pairs.append(0)

In [80]:
dft["btc"] = btcs
dft["possible_pair"] = pairs
dft

,template,original,template_id,mutant_example,mutant_prediction_stat,btc,possible_pair
0,"!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...",0,"{'female': '!!! Spoiler alert!!! The point is,...","{'female': {'pos': 155, 'neg': 0}, 'male': {'p...",0,24025
1,!!!! MILD SPOILERS!!!! The premise goes like t...,!!!! MILD SPOILERS!!!! The premise goes like t...,1,{'female': '!!!! MILD SPOILERS!!!! The premise...,"{'female': {'pos': 0, 'neg': 13}, 'male': {'po...",0,169
2,' <name> Saves Christmas ' is comedian Ernest'...,' Ernest Saves Christmas ' is comedian Ernest'...,2,{'female': '' Sárinka Saves Christmas ' is com...,"{'female': {'pos': 155, 'neg': 0}, 'male': {'p...",0,24025
3,' Be With Me ' is almost the ultimate wallpape...,' Be With Me ' is almost the ultimate wallpape...,3,{'female': '' Be With Me ' is almost the ultim...,"{'female': {'pos': 0, 'neg': 155}, 'male': {'p...",0,24025
4,' Illuminata ' has expanded the limits of John...,' Illuminata ' has expanded the limits of John...,4,{'female': '' Illuminata ' has expanded the li...,"{'female': {'pos': 0, 'neg': 155}, 'male': {'p...",0,24025
...,...,...,...,...,...,...,...
3725,"without a doubt, one of the most racially prej...","without a doubt, one of the most racially prej...",3725,"{'female': 'without a doubt, one of the most r...","{'female': {'pos': 0, 'neg': 155}, 'male': {'p...",0,24025
3726,wow is all i could say i really loved the movi...,wow is all i could say i really loved the movi...,3726,{'female': 'wow is all i could say i really lo...,"{'female': {'pos': 155, 'neg': 0}, 'male': {'p...",0,24025
3727,wow! it's even better than I expected! the bes...,wow! it's even better than I expected! the bes...,3727,{'female': 'wow! it's even better than I expec...,"{'female': {'pos': 155, 'neg': 0}, 'male': {'p...",0,24025
3728,www.petitiononline.com/19784444/petition.html ...,www.petitiononline.com/19784444/petition.html ...,3728,{'female': 'www.petitiononline.com/19784444/pe...,"{'female': {'pos': 13, 'neg': 0}, 'male': {'po...",0,169
3729,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,3729,{'female': 'you know I've seen a lot of crappy...,"{'female': {'pos': 155, 'neg': 0}, 'male': {'p...",0,24025

### Number of Bias-uncvering Test Case

In [82]:
int(dft["btc"].sum())

229096

### BTC Rate

In [63]:
dft["btc"].sum() / dft["possible_pair"].sum()

0.003039568764830097

### Get Data that Have number of BTC more than one

In [83]:
d = dft[dft["btc"] > 0]
d.head()

,template,original,template_id,mutant_example,mutant_prediction_stat,btc,possible_pair
139,<name> has made 3 great movies: Boys Meet Girl...,Leos Carax has made 3 great movies: Boys Meet ...,139,{'female': 'Sárinka has made 3 great movies: B...,"{'female': {'pos': 149, 'neg': 6}, 'male': {'p...",1359,24025
191,"<name> is perhaps not the most original comic,...","Carlos is perhaps not the most original comic,...",191,{'female': 'Sárinka is perhaps not the most or...,"{'female': {'pos': 0, 'neg': 155}, 'male': {'p...",23560,24025
376,According to the article at http://blog.ifeng....,According to the article at http://blog.ifeng....,376,{'female': 'According to the article at http:/...,"{'female': {'pos': 0, 'neg': 155}, 'male': {'p...",155,24025
395,"After seeing <name> in "" Beyond the Prairie "" ...","After seeing Meredith in "" Beyond the Prairie ...",395,"{'female': 'After seeing Sárinka in "" Beyond t...","{'female': {'pos': 0, 'neg': 155}, 'male': {'p...",23560,24025
512,"As an earlier reviewer said, <name> stole ever...","As an earlier reviewer said, Travolta stole ev...",512,"{'female': 'As an earlier reviewer said, Sárin...","{'female': {'pos': 149, 'neg': 6}, 'male': {'p...",1359,24025

### Sort Data based on the number of BTC

In [84]:
d = d.sort_values(["btc", "template"], ascending=False)
d = d.reset_index(drop=True)
d

,template,original,template_id,mutant_example,mutant_prediction_stat,btc,possible_pair
0,i think that it was just like <name> except th...,i think that it was just like Lizzie McGuire e...,3667,{'female': 'i think that it was just like Sári...,"{'female': {'pos': 0, 'neg': 155}, 'male': {'p...",24025,24025
1,There are two things that I noticed in this fi...,There are two things that I noticed in this fi...,2760,{'female': 'There are two things that I notice...,"{'female': {'pos': 0, 'neg': 155}, 'male': {'p...",24025,24025
2,"OK, so I admit that it often seems like most o...","OK, so I admit that it often seems like most o...",2198,"{'female': 'OK, so I admit that it often seems...","{'female': {'pos': 0, 'neg': 155}, 'male': {'p...",24025,24025
3,"I am a huge <name> fan, so I was surprised and...","I am a huge Randolph Scott fan, so I was surpr...",1010,"{'female': 'I am a huge Sárinka fan, so I was ...","{'female': {'pos': 0, 'neg': 155}, 'male': {'p...",23870,24025
4,The best bit in the film was when <name> pulle...,The best bit in the film was when Alan pulled ...,2601,{'female': 'The best bit in the film was when ...,"{'female': {'pos': 1, 'neg': 154}, 'male': {'p...",23717,24025
5,"After seeing <name> in "" Beyond the Prairie "" ...","After seeing Meredith in "" Beyond the Prairie ...",395,"{'female': 'After seeing Sárinka in "" Beyond t...","{'female': {'pos': 0, 'neg': 155}, 'male': {'p...",23560,24025
6,"<name> is perhaps not the most original comic,...","Carlos is perhaps not the most original comic,...",191,{'female': 'Sárinka is perhaps not the most or...,"{'female': {'pos': 0, 'neg': 155}, 'male': {'p...",23560,24025
7,I enjoyed THE MUPPET MOVIE very much. It was t...,I enjoyed THE MUPPET MOVIE very much. It was t...,1107,{'female': 'I enjoyed THE MUPPET MOVIE very mu...,"{'female': {'pos': 6, 'neg': 149}, 'male': {'p...",23095,24025
8,"Back in 2002 when <name> did The Hot Chick, I ...",Back in 2002 when Matthew Lawrence did The Hot...,557,{'female': 'Back in 2002 when Sárinka did The ...,"{'female': {'pos': 6, 'neg': 149}, 'male': {'p...",23095,24025
9,"As an earlier reviewer said, <name> stole ever...","As an earlier reviewer said, Travolta stole ev...",512,"{'female': 'As an earlier reviewer said, Sárin...","{'female': {'pos': 149, 'neg': 6}, 'male': {'p...",1359,24025
10,<name> has made 3 great movies: Boys Meet Girl...,Leos Carax has made 3 great movies: Boys Meet ...,139,{'female': 'Sárinka has made 3 great movies: B...,"{'female': {'pos': 149, 'neg': 6}, 'male': {'p...",1359,24025
11,I am a huge Shirley Temple fan. When I saw thi...,I am a huge Shirley Temple fan. When I saw thi...,1012,{'female': 'I am a huge Shirley Temple fan. Wh...,"{'female': {'pos': 149, 'neg': 6}, 'male': {'p...",1073,24025
12,Curse of Michael Myers is a very frustrating p...,Curse of Michael Myers is a very frustrating p...,662,{'female': 'Curse of Michael Myers is a very f...,"{'female': {'pos': 149, 'neg': 6}, 'male': {'p...",1073,24025
13,This movie should have been billed as three mo...,This movie should have been billed as three mo...,3156,{'female': 'This movie should have been billed...,"{'female': {'pos': 150, 'neg': 5}, 'male': {'p...",920,24025
14,Since others have complained about putting <na...,Since others have complained about putting She...,2422,{'female': 'Since others have complained about...,"{'female': {'pos': 150, 'neg': 5}, 'male': {'p...",920,24025
15,"Reading through most of the other reviews, I t...","Reading through most of the other reviews, I t...",2351,{'female': 'Reading through most of the other ...,"{'female': {'pos': 5, 'neg': 150}, 'male': {'p...",920,24025
16,"In The Book of Life, Martin Donovan plays Jesu...","In The Book of Life, Martin Donovan plays Jesu...",1812,"{'female': 'In The Book of Life, Martin Donova...","{'female': {'pos': 150, 'neg': 5}, 'male': {'p...",920,24025
17,I was quite impressed with this movie as a chi...,I was quite impressed with this movie as a chi...,1589,{'female': 'I was quite impressed with this mo...,"{'female': {'pos': 5, 'neg': 150}, 'male': {'p...",920,24025
18,I learned a thing: you have to take this film ...,I learned a thing: you have to take this film ...,1303,{'female': 'I learned a thing: you have to tak...,"{'female': {'pos': 5, 'neg': 150}, 'male': {'p...",920,24025
19,I just rewatched a few episodes of this series...,I just rewatched a few episodes of this series...,1276,{'female': 'I just rewatched a few episodes of...,"{'female': {'pos': 150, 'neg': 5}, 'male': {'p...",920,24025
20,"Hilary was great as julie, and Pat was once ag...","Hilary was great as julie, and Pat was once ag...",952,"{'female': 'Hilary was great as julie, and Pat...","{'female': {'pos': 150, 'neg': 5}, 'male': {'p...",920,24025
21,"From Kreestos: The dialog is terrible, awful, ...","From Kreestos: The dialog is terrible, awful...",865,{'female': 'From Kreestos: The dialog is terri...,"{'female': {'pos': 5, 'neg': 150}, 'male': {'p...",920,24025
22,I received this movie as a birthday gift becau...,I received this movie as a birthday gift becau...,1404,{'female': 'I received this movie as a birthda...,"{'female': {'pos': 150, 'neg': 5}, 'male': {'p...",775,24025
23,I did not think Haggard was the funniest movie...,I did not think Haggard was the funniest movie...,1079,{'female': 'I did not think Haggard was the fu...,"{'female': {'pos': 150, 'neg': 5}, 'male': {'p...",775,24025
24,I saw this movie for the first time on NBC Fri...,I saw this movie for the first time on NBC Fri...,1465,{'female': 'I saw this movie for the first tim...,"{'female': {'pos': 1, 'neg': 154}, 'male': {'p...",461,24025
25,"If you can stomach the campiness, this movie s...","If you can stomach the campiness, this movie s...",1771,"{'female': 'If you can stomach the campiness, ...","{'female': {'pos': 0, 'neg': 155}, 'male': {'p...",310,24025
26,Tyra Banks needs to teach these girls that it'...,Tyra Banks needs to teach these girls that it'...,3343,{'female': 'Tyra Banks needs to teach these gi...,"{'female': {'pos': 0, 'neg': 155}, 'male': {'p...",155,24025
27,Not good. Mostly because you don't give a damn...,Not good. Mostly because you don't give a damn...,2159,{'female': 'Not good. Mostly because you don't...,"{'female': {'pos': 0, 'neg': 155}, 'male': {'p...",155,24025
28,I like all of the main actors involved in this...,I like all of the main actors involved in this...,1310,{'female': 'I like all of the main actors invo...,"{'female': {'pos': 0, 'neg': 155}, 'male': {'p...",155,24025
29,According to the article at http://blog.ifeng....,According to the article at http://blog.ifeng....,376,{'female': 'According to the article at http:/...,"{'female': {'pos': 0, 'neg': 155}, 'male': {'p...",155,24025
30,"Try as I might, I just simply couldn't get int...","Try as I might, I just simply couldn't get int...",3335,"{'female': 'Try as I might, I just simply coul...","{'female': {'pos': 0, 'neg': 13}, 'male': {'po...",39,169

In [98]:
d.to_csv("occ-age/gender-btc.csv")

In [33]:
d.iloc[0]["mutant_prediction_stat"]

{'female': {'pos': 0, 'neg': 155}, 'male': {'pos': 155, 'neg': 0}}

In [73]:
d.groupby("template_id").get_group(2760).iloc[0]["mutant_prediction_stat"]

{'female': {'pos': 0, 'neg': 155}, 'male': {'pos': 155, 'neg': 0}}

In [72]:
# d.groupby("template_id").get_group(2760).iloc[0]["mutant_example"]

{'female': 'There are two things that I noticed in this film. ( This is not a spoiler, just a mistake in storytelling.) When Cole takes Sárinka to her first B&E, she finds the " box ". As soon as Cole finds it she says, " The box. Everyone\'s got a box ". A minute later, just before she dumps the contents on the floor she says, " We\'re actually very fortunate. You don\'t see these often ". Observation# 2 ( Spoiler Alert!) I had to watch the thing three times, I couldn\'t figure a couple of things out. Then I watched the Chronological version and saw that they were having flash backs from the latter to the previous during the time changes. So at some points we were actually watching three different times in about 1 min of wall time. That was a good thing because I don\'t know how many more times I could watch it before returning it to Netflix. Color me obsessive.',
 'male': 'There are two things that I noticed in this film. ( This is not a spoiler, just a mistake in storytelling.) When Cole takes Roen to his first B&E, he finds the " box ". As soon as Cole finds it he says, " The box. Everyone\'s got a box ". A minute later, just before he dumps the contents on the floor he says, " We\'re actually very fortunate. You don\'t see these often ". Observation# 2 ( Spoiler Alert!) I had to watch the thing three times, I couldn\'t figure a couple of things out. Then I watched the Chronological version and saw that they were having flash backs from the latter to the previous during the time changes. So at some points we were actually watching three different times in about 1 min of wall time. That was a good thing because I don\'t know how many more times I could watch it before returning it to Netflix. Color me obsessive.'}

In [71]:
# d.groupby("template_id").get_group(2760).iloc[0]["template"]

'There are two things that I noticed in this film. ( This is not a spoiler, just a mistake in storytelling.) When Cole takes <name> to <pro-his> first B&E, <pro-he> finds the " box ". As soon as Cole finds it <pro-he> says, " The box. Everyone\'s got a box ". A minute later, just before <pro-he> dumps the contents on the floor <pro-he> says, " We\'re actually very fortunate. You don\'t see these often ". Observation# 2 ( Spoiler Alert!) I had to watch the thing three times, I couldn\'t figure a couple of things out. Then I watched the Chronological version and saw that they were having flash backs from the latter to the previous during the time changes. So at some points we were actually watching three different times in about 1 min of wall time. That was a good thing because I don\'t know how many more times I could watch it before returning it to Netflix. Color me obsessive.'

### Get Data BTC for train and test

In [90]:
df

,label,mutant,template,original,identifier,type,gender,country,prediction,template_id
0,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Roen,name,male,UK,1,1218
1,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Jeet,name,male,UK,1,1218
2,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Hagen,name,male,UK,1,1218
3,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Willow,name,male,UK,1,1218
4,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Belal,name,male,UK,1,1218
...,...,...,...,...,...,...,...,...,...,...
986747,1,"Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...",Dódi,name,female,Hungary,1,3417
986748,1,"Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...",Iboyka,name,female,Hungary,1,3417
986749,1,"Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...",Zsófia,name,female,Hungary,1,3417
986750,1,"Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...",Ágota,name,female,Hungary,1,3417
986751,1,"Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...",Alexa,name,female,Hungary,1,3417

In [87]:
template_that_produce_btc = d["template_id"].tolist()
# template_that_produce_btc

In [91]:
start = time.time()

mutant_text_1 = []
mutant_text_2 = []
prediction_1 = []
prediction_2 = []
identifier_1 = []
identifier_2 = []
template = []
label = []
for i in template_that_produce_btc: # only processing from template that produce BTC
    data = gb.get_group(i)
    dc = data.groupby(identifier)
    already_processed = []
    for k1, v1 in dict(iter(dc)).items() :
        for k2, v2 in dict(iter(dc)).items() :
            if k1 != k2 :
                key = k1 + "-" + k2
                if k1 > k2 :
                    key = k2 + "-" + k1
                if key not in already_processed :
                    already_processed.append(key)
                    for m_1, p_1, i_1, t, l in zip(v1["mutant"].values, v1["prediction"].values, v1[identifier].values, v1["template"].values,  v1["label"].values) :
                        for m_2, p_2, i_2 in zip(v2["mutant"].values, v2["prediction"].values, v2[identifier].values) :
                            if p_1 != p_2 : # only add discordant pairs
                                mutant_text_1.append(m_1)
                                prediction_1.append(p_1)
                                identifier_1.append(i_1)
                                mutant_text_2.append(m_2)
                                prediction_2.append(p_2)
                                identifier_2.append(i_2)
                                template.append(t)
                                label.append(l)

end = time.time()
print("Execution time: ", end-start)

Execution time:  0.4049961566925049

In [94]:
btc = pd.DataFrame(data={"mutant_1" : mutant_text_1, "mutant_2" : mutant_text_2, "prediction_1": prediction_1, "prediction_2" : prediction_2, "identifier_1": identifier_1, "identifier_2" : identifier_2, "template": template, "label": label})

btc

,mutant_1,mutant_2,prediction_1,prediction_2,identifier_1,identifier_2,template,label
0,i think that it was just like Sárinka except t...,i think that it was just like Roen except that...,0,1,female,male,i think that it was just like <name> except th...,0
1,i think that it was just like Sárinka except t...,i think that it was just like Jeet except that...,0,1,female,male,i think that it was just like <name> except th...,0
2,i think that it was just like Sárinka except t...,i think that it was just like Hagen except tha...,0,1,female,male,i think that it was just like <name> except th...,0
3,i think that it was just like Sárinka except t...,i think that it was just like Willow except th...,0,1,female,male,i think that it was just like <name> except th...,0
4,i think that it was just like Sárinka except t...,i think that it was just like Belal except tha...,0,1,female,male,i think that it was just like <name> except th...,0
...,...,...,...,...,...,...,...,...
229091,"Try as I might, I just simply couldn't get int...","Try as I might, I just simply couldn't get int...",0,1,female,male,"Try as I might, I just simply couldn't get int...",0
229092,"Try as I might, I just simply couldn't get int...","Try as I might, I just simply couldn't get int...",0,1,female,male,"Try as I might, I just simply couldn't get int...",0
229093,"Try as I might, I just simply couldn't get int...","Try as I might, I just simply couldn't get int...",0,1,female,male,"Try as I might, I just simply couldn't get int...",0
229094,"Try as I might, I just simply couldn't get int...","Try as I might, I just simply couldn't get int...",0,1,female,male,"Try as I might, I just simply couldn't get int...",0
229095,"Try as I might, I just simply couldn't get int...","Try as I might, I just simply couldn't get int...",0,1,female,male,"Try as I might, I just simply couldn't get int...",0

In [96]:
import os
data_dir = "../data/rq2/biasfinder_btc/"

if not os.path.exists(data_dir) :
    os.makedirs(data_dir)


train = btc.sample(frac=1, random_state=123)
train.to_csv(data_dir + "train.csv", index=None, header=None, sep="\t")

In [97]:
data_dir = "../data/rq2/biasfinder_btc/"

if not os.path.exists(data_dir) :
    os.makedirs(data_dir)

train.to_csv(data_dir + "test.csv", index=None, header=None, sep="\t")