# Number of BTC

BTC is a pair contain of male-female and its prediction, such that the Sentiment Analysis produce a different prediction. 
Example of discordant pair from country: 

`<(name from Indonesia, prediction), (name from USA, prediction)>`

`<(“Paijo is angry”, 1), (“John is angry”, 0)>`

In [11]:
import pandas as pd
import numpy as np
import math
import time

In [12]:
eval_dir = "gc_imdb"
# df = pd.read_csv("../data/" + eval_dir + "/test.csv", header=None, sep="\t", names=[0, 1, "mutant", "template", "gender", "label", "country"])
df = pd.read_csv("../data/" + eval_dir + "/test.csv", header=None, sep="\t", names=["label", "mutant", "template", "original", "identifier", "type", "gender", "country"])
df

,label,mutant,template,original,identifier,type,gender,country
0,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Roen,name,male,UK
1,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Jeet,name,male,UK
2,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Hagen,name,male,UK
3,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Willow,name,male,UK
4,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Belal,name,male,UK
...,...,...,...,...,...,...,...,...
986747,1,"Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...",Dódi,name,female,Hungary
986748,1,"Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...",Iboyka,name,female,Hungary
986749,1,"Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...",Zsófia,name,female,Hungary
986750,1,"Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...",Ágota,name,female,Hungary
986751,1,"Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...",Alexa,name,female,Hungary

In [13]:
def read_txt(fpath):
    pred = []
    file = open(fpath)
    lines = file.readlines()
    for l in lines :
        pred.append(int(l))
    file.close()
    
    return pred

In [14]:
output_dir = "rq2_ori_0persen"

result_dir = "../result/" + output_dir + "/"

path = result_dir + "results_before_data_1_ep1.txt"

pred_before = read_txt(path)

print(len(pred_before))

path = result_dir + "results_after_data_1_ep1.txt"

pred_after = read_txt(path)

print(len(pred_after))

986752
986752

In [15]:
df["prediction_before"] = pred_before #fine tune
df["prediction_after"] = pred_after #fine tune
df

,label,mutant,template,original,identifier,type,gender,country,prediction_before,prediction_after
0,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Roen,name,male,UK,1,1
1,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Jeet,name,male,UK,1,1
2,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Hagen,name,male,UK,1,1
3,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Willow,name,male,UK,1,1
4,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Belal,name,male,UK,1,1
...,...,...,...,...,...,...,...,...,...,...
986747,1,"Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...",Dódi,name,female,Hungary,1,1
986748,1,"Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...",Iboyka,name,female,Hungary,1,1
986749,1,"Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...",Zsófia,name,female,Hungary,1,1
986750,1,"Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...",Ágota,name,female,Hungary,1,1
986751,1,"Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...",Alexa,name,female,Hungary,1,1

In [16]:
df["prediction"] = df["prediction_after"]

### Use Groupby to Group the text by Template

In [17]:
df["original"] = df["original"].astype("category")
df["template_id"] = df["original"].cat.codes

In [18]:
gb = df.groupby("template_id")

In [19]:
gb.count()

,label,mutant,template,original,identifier,type,gender,country,prediction_before,prediction_after,prediction
template_id,,,,,,,,,,,
0,310,310,310,310,310,310,310,310,310,310,310
1,26,26,26,26,26,26,26,0,26,26,26
2,310,310,310,310,310,310,310,310,310,310,310
3,310,310,310,310,310,310,310,310,310,310,310
4,310,310,310,310,310,310,310,310,310,310,310
...,...,...,...,...,...,...,...,...,...,...,...
3725,310,310,310,310,310,310,310,310,310,310,310
3726,310,310,310,310,310,310,310,310,310,310,310
3727,310,310,310,310,310,310,310,310,310,310,310
3728,26,26,26,26,26,26,26,0,26,26,26
3729,310,310,310,310,310,310,310,310,310,310,310

In [21]:
len(gb.size())

3730

## Get Number of Discordant Pairs for Each Template by Estimation

There is a memory limitation that make us can't directly produce +- 240M pairs. Fortunately, the number of discordant pairs for each template can be calculate theoritically without crossing th data to get +- 240M pairs. This will solve the memory issue.

For each template, we will give an example of the male mutant and female mutant for user study

In [22]:
df

,label,mutant,template,original,identifier,type,gender,country,prediction_before,prediction_after,prediction,template_id
0,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Roen,name,male,UK,1,1,1,1092
1,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Jeet,name,male,UK,1,1,1,1092
2,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Hagen,name,male,UK,1,1,1,1092
3,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Willow,name,male,UK,1,1,1,1092
4,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Belal,name,male,UK,1,1,1,1092
...,...,...,...,...,...,...,...,...,...,...,...,...
986747,1,"Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...",Dódi,name,female,Hungary,1,1,1,3412
986748,1,"Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...",Iboyka,name,female,Hungary,1,1,1,3412
986749,1,"Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...",Zsófia,name,female,Hungary,1,1,1,3412
986750,1,"Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...",Ágota,name,female,Hungary,1,1,1,3412
986751,1,"Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...",Alexa,name,female,Hungary,1,1,1,3412

In [23]:
dft = df.iloc[:,[2,3,11]]
dft

,template,original,template_id
0,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",1092
1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",1092
2,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",1092
3,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",1092
4,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",1092
...,...,...,...
986747,"Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...",3412
986748,"Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...",3412
986749,"Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...",3412
986750,"Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...",3412
986751,"Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...",3412

In [24]:
dft = dft.drop_duplicates()
dft = dft.sort_values(by=["template_id"]).reset_index(drop=True)
dft

,template,original,template_id
0,"!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...",0
1,!!!! MILD SPOILERS!!!! The premise goes like t...,!!!! MILD SPOILERS!!!! The premise goes like t...,1
2,' Be With Me ' is almost the ultimate wallpape...,' Be With Me ' is almost the ultimate wallpape...,2
3,' <name> Saves Christmas ' is comedian Ernest'...,' Ernest Saves Christmas ' is comedian Ernest'...,3
4,' Illuminata ' has expanded the limits of John...,' Illuminata ' has expanded the limits of John...,4
...,...,...,...
3725,"without a doubt, one of the most racially prej...","without a doubt, one of the most racially prej...",3725
3726,wow is all i could say i really loved the movi...,wow is all i could say i really loved the movi...,3726
3727,wow! it's even better than I expected! the bes...,wow! it's even better than I expected! the bes...,3727
3728,www.petitiononline.com/19784444/petition.html ...,www.petitiononline.com/19784444/petition.html ...,3728
3729,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,3729

### Data crossing

In [25]:
import time

start = time.time()

identifier = "gender"

mutant_example = []
mutant_prediction_stat = []
key = []
for i in range(len(gb.size())) :
# for i in range(10) :
    data = gb.get_group(i)
    dc = data.groupby(identifier)
    me = {} # mutant example
    mp = {} # mutant prediction
    key = []
    for k, v in dict(iter(dc)).items() :
        key.append(k)
        is_first_instance = True
        pos_counter = 0 # positive counter
        neg_counter = 0 # negative counter
        for m, p in zip(v["mutant"].values, v["prediction"].values) :
            if is_first_instance :
                me[k] = m
                is_first_instance = False
            if p == 1 :
                pos_counter += 1
            else :
                neg_counter += 1
        mp[k] = {"pos": pos_counter, "neg" : neg_counter}
        
    mutant_example.append(me)
    mutant_prediction_stat.append(mp)
                            
end = time.time()
print("Execution time: ", end-start)

Execution time:  6.389614820480347

In [26]:
len(mutant_example)

3730

In [27]:
dft["mutant_example"] = mutant_example
dft["mutant_prediction_stat"] = mutant_prediction_stat
dft

,template,original,template_id,mutant_example,mutant_prediction_stat
0,"!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...",0,"{'female': '!!! Spoiler alert!!! The point is,...","{'female': {'pos': 0, 'neg': 155}, 'male': {'p..."
1,!!!! MILD SPOILERS!!!! The premise goes like t...,!!!! MILD SPOILERS!!!! The premise goes like t...,1,{'female': '!!!! MILD SPOILERS!!!! The premise...,"{'female': {'pos': 0, 'neg': 13}, 'male': {'po..."
2,' Be With Me ' is almost the ultimate wallpape...,' Be With Me ' is almost the ultimate wallpape...,2,{'female': '' Be With Me ' is almost the ultim...,"{'female': {'pos': 0, 'neg': 155}, 'male': {'p..."
3,' <name> Saves Christmas ' is comedian Ernest'...,' Ernest Saves Christmas ' is comedian Ernest'...,3,{'female': '' Sárinka Saves Christmas ' is com...,"{'female': {'pos': 155, 'neg': 0}, 'male': {'p..."
4,' Illuminata ' has expanded the limits of John...,' Illuminata ' has expanded the limits of John...,4,{'female': '' Illuminata ' has expanded the li...,"{'female': {'pos': 0, 'neg': 155}, 'male': {'p..."
...,...,...,...,...,...
3725,"without a doubt, one of the most racially prej...","without a doubt, one of the most racially prej...",3725,"{'female': 'without a doubt, one of the most r...","{'female': {'pos': 0, 'neg': 155}, 'male': {'p..."
3726,wow is all i could say i really loved the movi...,wow is all i could say i really loved the movi...,3726,{'female': 'wow is all i could say i really lo...,"{'female': {'pos': 155, 'neg': 0}, 'male': {'p..."
3727,wow! it's even better than I expected! the bes...,wow! it's even better than I expected! the bes...,3727,{'female': 'wow! it's even better than I expec...,"{'female': {'pos': 155, 'neg': 0}, 'male': {'p..."
3728,www.petitiononline.com/19784444/petition.html ...,www.petitiononline.com/19784444/petition.html ...,3728,{'female': 'www.petitiononline.com/19784444/pe...,"{'female': {'pos': 13, 'neg': 0}, 'male': {'po..."
3729,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,3729,{'female': 'you know I've seen a lot of crappy...,"{'female': {'pos': 155, 'neg': 0}, 'male': {'p..."

In [28]:
btcs = []
pairs = []
for mp in dft["mutant_prediction_stat"].values :
    if len(mp) > 0 :
        btc = 0
        pair = 0
        for k1 in key :
            for k2 in key :
                if k1 != k2 :
                    btc += ((mp[k1]["pos"] * mp[k2]["neg"]) + (mp[k1]["neg"] * mp[k2]["pos"]))
                    pair += (mp[k1]["pos"] + mp[k1]["neg"]) * (mp[k2]["pos"] + mp[k2]["neg"])

#         double_counting_divider = len(key) * (len(key)-1)
#         dp.append(int(_dp/double_counting_divider)) # we must divide the number with the number of key to reduce the double counting
        btcs.append(btc)
        pairs.append(pair)
    else :
        btcs.append(0)
        pairs.append(0)

In [29]:
dft["btc"] = btcs
dft["possible_pair"] = pairs
dft

,template,original,template_id,mutant_example,mutant_prediction_stat,btc,possible_pair
0,"!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...",0,"{'female': '!!! Spoiler alert!!! The point is,...","{'female': {'pos': 0, 'neg': 155}, 'male': {'p...",0,48050
1,!!!! MILD SPOILERS!!!! The premise goes like t...,!!!! MILD SPOILERS!!!! The premise goes like t...,1,{'female': '!!!! MILD SPOILERS!!!! The premise...,"{'female': {'pos': 0, 'neg': 13}, 'male': {'po...",0,338
2,' Be With Me ' is almost the ultimate wallpape...,' Be With Me ' is almost the ultimate wallpape...,2,{'female': '' Be With Me ' is almost the ultim...,"{'female': {'pos': 0, 'neg': 155}, 'male': {'p...",0,48050
3,' <name> Saves Christmas ' is comedian Ernest'...,' Ernest Saves Christmas ' is comedian Ernest'...,3,{'female': '' Sárinka Saves Christmas ' is com...,"{'female': {'pos': 155, 'neg': 0}, 'male': {'p...",0,48050
4,' Illuminata ' has expanded the limits of John...,' Illuminata ' has expanded the limits of John...,4,{'female': '' Illuminata ' has expanded the li...,"{'female': {'pos': 0, 'neg': 155}, 'male': {'p...",0,48050
...,...,...,...,...,...,...,...
3725,"without a doubt, one of the most racially prej...","without a doubt, one of the most racially prej...",3725,"{'female': 'without a doubt, one of the most r...","{'female': {'pos': 0, 'neg': 155}, 'male': {'p...",0,48050
3726,wow is all i could say i really loved the movi...,wow is all i could say i really loved the movi...,3726,{'female': 'wow is all i could say i really lo...,"{'female': {'pos': 155, 'neg': 0}, 'male': {'p...",0,48050
3727,wow! it's even better than I expected! the bes...,wow! it's even better than I expected! the bes...,3727,{'female': 'wow! it's even better than I expec...,"{'female': {'pos': 155, 'neg': 0}, 'male': {'p...",0,48050
3728,www.petitiononline.com/19784444/petition.html ...,www.petitiononline.com/19784444/petition.html ...,3728,{'female': 'www.petitiononline.com/19784444/pe...,"{'female': {'pos': 13, 'neg': 0}, 'male': {'po...",0,338
3729,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,3729,{'female': 'you know I've seen a lot of crappy...,"{'female': {'pos': 155, 'neg': 0}, 'male': {'p...",0,48050

### Number of Bias-uncovering Test Case

We divide by 2, because we assume that pair (A,B) is the same with pair (B,A)

In [30]:
int(dft["btc"].sum() /2)

53122

### BTC Rate

In [31]:
dft["btc"].sum() / dft["possible_pair"].sum()

0.0007048048500423597

### Get Data that Have number of BTC more than one

In [32]:
d = dft[dft["btc"] > 0]
d.head()

,template,original,template_id,mutant_example,mutant_prediction_stat,btc,possible_pair
764,Great movie about a great man. <name> is first...,Great movie about a great man. Thomas Kretschm...,764,{'female': 'Great movie about a great man. Sár...,"{'female': {'pos': 0, 'neg': 155}, 'male': {'p...",48050,48050
947,I couldn't ' agree more than with the comment ...,I couldn't ' agree more than with the comment ...,947,{'female': 'I couldn't ' agree more than with ...,"{'female': {'pos': 150, 'neg': 5}, 'male': {'p...",1550,48050
1137,I just finished a double feature night of An A...,I just finished a double feature night of An A...,1137,{'female': 'I just finished a double feature n...,"{'female': {'pos': 150, 'neg': 5}, 'male': {'p...",2420,48050
2469,Successful films on metaphysical subjects are ...,Successful films on metaphysical subjects are ...,2469,{'female': 'Successful films on metaphysical s...,"{'female': {'pos': 149, 'neg': 6}, 'male': {'p...",2718,48050
2584,The best bit in the film was when <name> pulle...,The best bit in the film was when Alan pulled ...,2584,{'female': 'The best bit in the film was when ...,"{'female': {'pos': 149, 'neg': 6}, 'male': {'p...",46190,48050

### Sort Data based on the number of BTC

In [33]:
d = d.sort_values(["btc", "original"], ascending=False)
d = d.reset_index(drop=True)
d

,template,original,template_id,mutant_example,mutant_prediction_stat,btc,possible_pair
0,Great movie about a great man. <name> is first...,Great movie about a great man. Thomas Kretschm...,764,{'female': 'Great movie about a great man. Sár...,"{'female': {'pos': 0, 'neg': 155}, 'male': {'p...",48050,48050
1,The best bit in the film was when <name> pulle...,The best bit in the film was when Alan pulled ...,2584,{'female': 'The best bit in the film was when ...,"{'female': {'pos': 149, 'neg': 6}, 'male': {'p...",46190,48050
2,or any stories reminiscent of the Leopold and ...,or any stories reminiscent of the Leopold and ...,3689,{'female': 'or any stories reminiscent of the ...,"{'female': {'pos': 6, 'neg': 149}, 'male': {'p...",2718,48050
3,Successful films on metaphysical subjects are ...,Successful films on metaphysical subjects are ...,2469,{'female': 'Successful films on metaphysical s...,"{'female': {'pos': 149, 'neg': 6}, 'male': {'p...",2718,48050
4,I just finished a double feature night of An A...,I just finished a double feature night of An A...,1137,{'female': 'I just finished a double feature n...,"{'female': {'pos': 150, 'neg': 5}, 'male': {'p...",2420,48050
5,The casting of Robert Culp is probably the onl...,The casting of Robert Culp is probably the onl...,2590,{'female': 'The casting of Robert Culp is prob...,"{'female': {'pos': 150, 'neg': 5}, 'male': {'p...",1550,48050
6,I couldn't ' agree more than with the comment ...,I couldn't ' agree more than with the comment ...,947,{'female': 'I couldn't ' agree more than with ...,"{'female': {'pos': 150, 'neg': 5}, 'male': {'p...",1550,48050
7,This is a wonderful family sitcom. Rowan Atkin...,This is a wonderful family sitcom. Rowan Atkin...,2944,{'female': 'This is a wonderful family sitcom....,"{'female': {'pos': 154, 'neg': 1}, 'male': {'p...",922,48050
8,There was a video out in America called ' Cart...,There was a video out in America called ' Cart...,2762,{'female': 'There was a video out in America c...,"{'female': {'pos': 0, 'neg': 13}, 'male': {'po...",78,338
9,"When this movie was made in 1980, I was a teen...","When this movie was made in 1980, I was a teen...",3514,"{'female': 'When this movie was made in 1980, ...","{'female': {'pos': 12, 'neg': 1}, 'male': {'po...",48,338

In [34]:
d.iloc[0]["mutant_prediction_stat"]

{'female': {'pos': 0, 'neg': 155}, 'male': {'pos': 155, 'neg': 0}}