In [2]:
import pandas as pd
import numpy as np
import math
import time

In [9]:
data_dir = "../data/rq2/biasfinder/btc/"

df = pd.read_csv(data_dir + "full.csv")
df

,mutant_1,mutant_2,prediction_1,prediction_2,identifier_1,identifier_2,template,template_id,label
0,i think that it was just like Sárinka except t...,i think that it was just like Roen except that...,0,1,female,male,i think that it was just like <name> except th...,3667,0
1,i think that it was just like Sárinka except t...,i think that it was just like Jeet except that...,0,1,female,male,i think that it was just like <name> except th...,3667,0
2,i think that it was just like Sárinka except t...,i think that it was just like Hagen except tha...,0,1,female,male,i think that it was just like <name> except th...,3667,0
3,i think that it was just like Sárinka except t...,i think that it was just like Willow except th...,0,1,female,male,i think that it was just like <name> except th...,3667,0
4,i think that it was just like Sárinka except t...,i think that it was just like Belal except tha...,0,1,female,male,i think that it was just like <name> except th...,3667,0
...,...,...,...,...,...,...,...,...,...
229091,"Try as I might, I just simply couldn't get int...","Try as I might, I just simply couldn't get int...",0,1,female,male,"Try as I might, I just simply couldn't get int...",3335,0
229092,"Try as I might, I just simply couldn't get int...","Try as I might, I just simply couldn't get int...",0,1,female,male,"Try as I might, I just simply couldn't get int...",3335,0
229093,"Try as I might, I just simply couldn't get int...","Try as I might, I just simply couldn't get int...",0,1,female,male,"Try as I might, I just simply couldn't get int...",3335,0
229094,"Try as I might, I just simply couldn't get int...","Try as I might, I just simply couldn't get int...",0,1,female,male,"Try as I might, I just simply couldn't get int...",3335,0
229095,"Try as I might, I just simply couldn't get int...","Try as I might, I just simply couldn't get int...",0,1,female,male,"Try as I might, I just simply couldn't get int...",3335,0

In [10]:
df = df.sample(frac=1, random_state=123)
df

,mutant_1,mutant_2,prediction_1,prediction_2,identifier_1,identifier_2,template,template_id,label
35115,There are two things that I noticed in this fi...,There are two things that I noticed in this fi...,0,1,female,male,There are two things that I noticed in this fi...,2760,1
9382,i think that it was just like Lillie-Mai excep...,i think that it was just like Kariman except t...,0,1,female,male,i think that it was just like <name> except th...,3667,0
143053,"After seeing Ágota in "" Beyond the Prairie "" I...","After seeing Igors in "" Beyond the Prairie "" I...",0,1,female,male,"After seeing <name> in "" Beyond the Prairie "" ...",395,1
156624,"Tori is perhaps not the most original comic, b...","Enoch is perhaps not the most original comic, ...",0,1,female,male,"<name> is perhaps not the most original comic,...",191,0
57377,"OK, so I admit that it often seems like most o...","OK, so I admit that it often seems like most o...",0,1,female,male,"OK, so I admit that it often seems like most o...",2198,1
...,...,...,...,...,...,...,...,...,...
119906,"After seeing Elenka in "" Beyond the Prairie "" ...","After seeing Vuand in "" Beyond the Prairie "" I...",0,1,female,male,"After seeing <name> in "" Beyond the Prairie "" ...",395,1
192476,"Back in 2002 when Eugenia did The Hot Chick, I...","Back in 2002 when Robertek did The Hot Chick, ...",0,1,female,male,"Back in 2002 when <name> did The Hot Chick, I ...",557,0
17730,i think that it was just like Zoya except that...,i think that it was just like Hooshang except ...,0,1,female,male,i think that it was just like <name> except th...,3667,0
28030,There are two things that I noticed in this fi...,There are two things that I noticed in this fi...,0,1,female,male,There are two things that I noticed in this fi...,2760,1
15725,i think that it was just like Alexandra except...,i think that it was just like Periklis except ...,0,1,female,male,i think that it was just like <name> except th...,3667,0

In [13]:
sample_size = 384
sample = df.iloc[:sample_size].reset_index(drop=True)

In [14]:
sample

,mutant_1,mutant_2,prediction_1,prediction_2,identifier_1,identifier_2,template,template_id,label
0,There are two things that I noticed in this fi...,There are two things that I noticed in this fi...,0,1,female,male,There are two things that I noticed in this fi...,2760,1
1,i think that it was just like Lillie-Mai excep...,i think that it was just like Kariman except t...,0,1,female,male,i think that it was just like <name> except th...,3667,0
2,"After seeing Ágota in "" Beyond the Prairie "" I...","After seeing Igors in "" Beyond the Prairie "" I...",0,1,female,male,"After seeing <name> in "" Beyond the Prairie "" ...",395,1
3,"Tori is perhaps not the most original comic, b...","Enoch is perhaps not the most original comic, ...",0,1,female,male,"<name> is perhaps not the most original comic,...",191,0
4,"OK, so I admit that it often seems like most o...","OK, so I admit that it often seems like most o...",0,1,female,male,"OK, so I admit that it often seems like most o...",2198,1
...,...,...,...,...,...,...,...,...,...
379,I enjoyed THE MUPPET MOVIE very much. It was t...,I enjoyed THE MUPPET MOVIE very much. It was t...,0,1,female,male,I enjoyed THE MUPPET MOVIE very much. It was t...,1107,1
380,i think that it was just like Neşe-M except th...,i think that it was just like Jeet except that...,0,1,female,male,i think that it was just like <name> except th...,3667,0
381,"OK, so I admit that it often seems like most o...","OK, so I admit that it often seems like most o...",0,1,female,male,"OK, so I admit that it often seems like most o...",2198,1
382,"OK, so I admit that it often seems like most o...","OK, so I admit that it often seems like most o...",0,1,female,male,"OK, so I admit that it often seems like most o...",2198,1
383,i think that it was just like Angela except th...,i think that it was just like Guleed except th...,0,1,female,male,i think that it was just like <name> except th...,3667,0

In [21]:
is_make_sense = [None] * 2 * len(sample)
sentiment = [None] * 2 * len(sample)
comment = [None] * 2 * len(sample)
text = [None] * 2 * len(sample)
i = 0
for index, row in sample.iterrows() :
    text[i*2] = sample.iloc[i]["mutant_1"]
    text[i*2+1] = sample.iloc[i]["mutant_2"]
    i += 1

In [23]:
df = pd.DataFrame(data={"text" : text, "sentiment": sentiment, "is_make_sense" : is_make_sense, "comment" : comment})
df

,text,sentiment,is_make_sense,comment
0,There are two things that I noticed in this fi...,None,None,None
1,There are two things that I noticed in this fi...,None,None,None
2,i think that it was just like Lillie-Mai excep...,None,None,None
3,i think that it was just like Kariman except t...,None,None,None
4,"After seeing Ágota in "" Beyond the Prairie "" I...",None,None,None
...,...,...,...,...
763,"OK, so I admit that it often seems like most o...",None,None,None
764,"OK, so I admit that it often seems like most o...",None,None,None
765,"OK, so I admit that it often seems like most o...",None,None,None
766,i think that it was just like Angela except th...,None,None,None
767,i think that it was just like Guleed except th...,None,None,None

In [24]:
df.to_csv("../data/user_study.csv")